@model MediCloud.Models.Financeiro.CrediarioClienteModel
    @{
        string checkedBloqueado = string.Empty;
        string checkedImprimeNF = string.Empty;
        bool CrediarioClienteNovo = true;

        ViewBag.Title = "Crediário de cliente";

        if (Model != null)
        {
            checkedImprimeNF = (Model.Imprime.HasValue ? Model.Imprime.Value : false) ? "checked" : string.Empty;
            checkedBloqueado = (Model.Bloqueado.HasValue ? Model.Bloqueado.Value : false) ? "checked" : string.Empty;

            CrediarioClienteNovo = false;
        }
    }
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <div class="page-header">
        <h1>
            Detalhamento de crediário de cliente
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Cadastro de crediário de cliente
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <div id="user-profile-3" class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="well well-sm">
                        <!-- -
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        &nbsp; -->
                        <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                        &nbsp; &nbsp; &nbsp;
                        <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                            <div class="progress-bar progress-bar-success" style="width:70%"></div>
                        </div>

                    </div><!-- /.well -->
                    <div class="row">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                    </div>

                    <div class="space"></div>
                    <form method="post" class="form-horizontal" action="@Url.Content("~/CrediarioCliente/DetalhamentoCrediarioCliente")">
                        <input type="hidden" id="codigoCrediarioCliente" name="codigoCrediarioCliente" value="@Html.ValueFor(x => x.IdCrediarioCliente)" />
                        <div class="tabbable">
                            <ul class="nav nav-tabs padding-16">
                                <li class="active">
                                    <a data-toggle="tab" href="#edit-basic">
                                        <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                        Cadastro
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content profile-edit-tab-content">
                            <div id="edit-basic" class="tab-pane in active">
                                <h4 class="header blue bolder smaller">Dados do crediário de cliente</h4>
                                    <div class="vspace-12-sm"></div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cliente &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                    <div class="col-sm-8">
                                        <input type="hidden" name="idCliente" id="idCliente" value="@Html.ValueFor(x => x.Cliente.IdCliente)" />
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-search"></i>
                                            </span>
                                            <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cliente" name="cliente" placeholder="Digite o nome do cliente" value="@Html.ValueFor(x => x.Cliente.RazaoSocial)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Grupo de clientes &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                    <div class="col-sm-8">
                                        <input type="hidden" name="idGrupoDeCliente" id="idGrupoDeCliente" value="@Html.ValueFor(x => x.GrupoDeClientes.IdGrupoCliente)" />
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-search"></i>
                                            </span>
                                            <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="GrupoDeCliente" name="GrupoDeCliente" placeholder="Digite o nome do cliente" value="@Html.ValueFor(x => x.GrupoDeClientes.NomeGrupo)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Tabela &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                    <div class="col-sm-8">
                                        <input type="hidden" name="idTabela" id="idTabela" value="@Html.ValueFor(x => x.Tabela.IdTabela)" />
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-search"></i>
                                            </span>
                                            <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="Tabela" name="Tabela" placeholder="Digite o nome do cliente" value="@Html.ValueFor(x => x.Tabela.NomeTabela)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Dia do fechamento </label>

                                    <div class="col-sm-8">
                                        <input type="hidden" name="idFechamento" id="idFechamento" value="@Html.ValueFor(x => x.Fechamento.IdFechamento)" />
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-search"></i>
                                            </span>
                                            <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="Fechamento" name="Fechamento" placeholder="Digite o dia de fechamento" value="@Html.ValueFor(x => x.Fechamento.PeriodoApuracao)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Municipal</label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="inscricaoMunicipal" name="inscricaoMunicipal" placeholder="razão social" value="@Html.ValueFor(x => x.InscricaoMunicipal)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Estadual</label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="razão social" value="@Html.ValueFor(x => x.InscricaoEstadual)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Bloqueado</label>

                                    <div class="col-sm-8 ">
                                        <div class="checkbox">
                                            <label>
                                                <input name="bloqueado" type="checkbox" class="ace" @checkedBloqueado />
                                                <span class="lbl"> &nbsp;</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Imprime nota fiscal</label>

                                    <div class="col-sm-8 ">
                                        <div class="checkbox">
                                            <label>
                                                <input name="imprimeNF" type="checkbox" class="ace" @checkedImprimeNF />
                                                <span class="lbl"> &nbsp;</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="header blue bolder smaller">Dados para cobrança</h4>
                                <div class="vspace-12-sm"></div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CPF/CNPJ/CEI</label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="CNPJ" name="CNPJ" placeholder="CNPJ" value="@Html.ValueFor(x => x.CNPJ)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Tipo</label>

                                    <div class="col-sm-8">
                                        <select class="form-control" id="tipoEmpresa" name="tipoEmpresa">
                                            <option value="0">..:Selecione:..</option>
                                            <option value="2">Pessoa Jurídica</option>
                                            <option value="1">Pessoa Física</option>
                                            <option value="3">CEI</option>
                                        </select>
                                        <script type="text/javascript">
                                                $('#tipoEmpresa').val('@(Model == null ? 0 : (int)Model.TipoEmpresa)');
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Empresa (Sacado)</label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="empresaSacado" name="empresaSacado" placeholder="razão social" value="@Html.ValueFor(x => x.EmpresaSacado)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Rua (com nº) </label>

                                    <div class="col-sm-8">
                                        <textarea class="col-sm-12 componenteFormulario" id="endereco" name="endereco" placeholder="digíte o nome da rua com número e complemento">@Html.ValueFor(x => x.Endereco)</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Bairro </label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="bairro" name="bairro" placeholder="nome do bairro" value="@Html.ValueFor(x => x.Bairro)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cidade </label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cidade" name="cidade" placeholder="nome da cidade" value="@Html.ValueFor(x => x.Cidade)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CEP </label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-3 componenteFormulario" type="text" id="CEP" name="CEP" placeholder="número do CEP" value="@Html.ValueFor(x => x.CEP)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">UF </label>

                                    <div class="col-sm-8">
                                        <input class="col-xs-12 col-sm-1 componenteFormulario" type="text" id="UF" name="UF" placeholder="sigla do UF" value="@Html.ValueFor(x => x.Estado)" />
                                    </div>
                                </div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="submit">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Salvar
                                        </button>
                                        @if (CrediarioClienteNovo)
                                        {
                                            <span>&nbsp; &nbsp;</span>
                                            <button class="btn" type="reset" id="limparForm">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Limpar
                                            </button>
                                        }
                                        else
                                        {
                                            <span>&nbsp; &nbsp;</span>
                                            <a href="javascript:excluirCrediarioCliente(@Model.IdCrediarioCliente)" class="btn btn-danger" type="reset">
                                                <i class="ace-icon fa fa-times bigger-110"></i>
                                                Excluir
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.span -->
            </div>
        </div>
    </div>

    <div id="confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter blue no-margin">Excluir crediário de cliente</h3>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir este crediário de cliente?
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                        <i class="ace-icon fa fa-check"></i>
                        Sim
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Não
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
    <script type="text/javascript">
        function excluirCrediarioCliente(codigo) {
            confirmDeleteModal(codigo);
        }

        function confirmDeleteModal(codigo) {
            $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            })
                .one('click', '#delete', function () {
                    window.location = "/CrediarioCliente/ExcluirCrediarioCliente?codigoCrediarioCliente=" + codigo;
                });
        }

        $("#limparForm").click(function () {
            var cntreq3 = 0;
            var cntvals3 = 0;
            $(".componenteFormulario").each(atualizarProgressBar());
        });

        $(document).ready(function () {
            $('input').on('change', function () {
                var cntreq = 0;
                var cntvals = 0;
                $(".componenteFormulario").each(atualizarProgressBar());
            });

            var cntreq3 = 0;
            var cntvals3 = 0;
            $(".componenteFormulario").each(atualizarProgressBar());

        });

        function atualizarProgressBar() {
            var cntreq = 0;
            var cntvals = 0;
            $(".componenteFormulario").each(function (val) {
                cntreq++;
                if ($(this).val() != '') {
                    cntvals++;
                }
            });
            var count = (cntvals / cntreq) * 100;
            count = parseInt(count);
            $('.formPercent').empty();
            $('.progress-striped').attr("data-percent", count + '%');
            $('div.progress-bar-success').attr("style", "width: " + count + '%');
            $('.formPercent').append(count + '% ');
        }

        $("#cliente").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Cliente/BuscaClienteAJAX",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, Id: item.Id };
                        }))

                    }
                })
            },
            select: function (event, ui) {
                $('#idCliente').attr('value', ui.item.Id);
                $('#cliente').val(ui.item.label);
                return false;
            },
            messages: {
                noResults: "Sem resultados", results: ""
            }
        });
        $('#GrupoDeCliente').on('blur', function () {
            if ($(this).val().length === 0) {  //check for no. of characters entered
                $('#idCliente').attr('value', 0);  // clear the textbox
            }
        });

        $("#GrupoDeCliente").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/GrupoDeClientes/BuscaGrupoDeClientesAJAX",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, Id: item.Id };
                        }))

                    }
                })
            },
            select: function (event, ui) {
                $('#idGrupoDeCliente').attr('value', ui.item.Id);
                $('#GrupoDeCliente').val(ui.item.label);
                return false;
            },
            messages: {
                noResults: "Sem resultados", results: ""
            }
        });
        $('#GrupoDeCliente').on('blur', function () {
            if ($(this).val().length === 0) {  //check for no. of characters entered
                $('#idGrupoDeCliente').attr('value', 0);  // clear the textbox
            }
        });

        $("#Tabela").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TabelaDePreco/BuscaTabelaAJAX",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, Id: item.Id };
                        }))

                    }
                })
            },
            select: function (event, ui) {
                $('#idTabela').attr('value', ui.item.Id);
                $('#Tabela').val(ui.item.label);
                return false;
            },
            messages: {
                noResults: "Sem resultados", results: ""
            }
        });
        $('#Tabela').on('blur', function () {
            if ($(this).val().length === 0) {  //check for no. of characters entered
                $('#idTabela').attr('value', 0);  // clear the textbox
            }
        });

        $("#Fechamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Fechamento/BuscaFechamentoAJAX",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, Id: item.Id };
                        }))

                    }
                })
            },
            select: function (event, ui) {
                $('#idFechamento').attr('value', ui.item.Id);
                $('#Fechamento').val(ui.item.label);
                return false;
            },
            messages: {
                noResults: "Sem resultados", results: ""
            }
        });
        $('#Fechamento').on('blur', function () {
            if ($(this).val().length === 0) {  //check for no. of characters entered
                $('#idFechamento').attr('value', 0);  // clear the textbox
            }
        });
    </script>
