@model MediCloud.Models.Financeiro.FaturamentoModel
@{
    string checkedInativo = string.Empty;
    bool FaturamentoNovo = true;

    ViewBag.Title = "Faturamento";

    if (Model != null)
    {
        FaturamentoNovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento de Faturamento
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro de Faturamento
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="well well-sm">
                    <!-- -
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    &nbsp; -->
                    <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                    &nbsp; &nbsp; &nbsp;
                    <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                        <div class="progress-bar progress-bar-success" style="width:70%"></div>
                    </div>

                </div><!-- /.well -->
                <div class="row">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                </div>

                <div class="space"></div>
                <form method="post" class="form-horizontal" action="@Url.Content("~/Faturamento/DetalhamentoFaturamento")">
                    <input type="hidden" id="codigoFaturamento" name="codigoFaturamento" value="@Html.ValueFor(x => x.IdFaturamento)" />
                    <input type="hidden" id="usuario" name="usuario" value="@Html.ValueFor(x => x.Usuario)" />
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                    Cadastro
                                </a>
                            </li>
                            @if (Model != null && Model.IdFaturamento > 0)
                            {

                                <li>
                                    <a data-toggle="tab" href="#edit-settings">

                                        <i class="purple ace-icon fa fa-file-excel-o bigger-125"></i>
                                        Notas Fiscais
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in active">
                            <div class="action-buttons bigger-150">
                                <a href="javascript:fecharFaturamento(@Html.ValueFor(x => x.IdFaturamento));" class="tooltipASO" title="Fechar Faturamento">
                                    <i class="ace-icon green fa fa-file-text-o"></i>
                                </a>
                            </div>

                            <h4 class="header blue bolder smaller">Dados do Faturamento</h4>
                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Mês&nbsp;<span class="badge badge-important mail-tag"></span></label>
                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="mes" name="mes" data-placeholder="Selecione um...">
                                        <option value="">.:Selecione:.</option>
                                        <option value="Jan">Janeiro</option>
                                        <option value="Fev">Fevereiro</option>
                                        <option value="Mar">Março</option>
                                        <option value="Abr">Abril</option>
                                        <option value="Mai">Maio</option>
                                        <option value="Jun">Junho</option>
                                        <option value="Jul">Julho</option>
                                        <option value="Ago">Agosto</option>
                                        <option value="Set">Setembro</option>
                                        <option value="Out">Outubro</option>
                                        <option value="Nov">Novembro</option>
                                        <option value="Dez">Dezembro</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#mes').val('@Html.ValueFor(x => x.Mes)');
                                    </script>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Dia&nbsp;<span class="badge badge-important mail-tag"></span></label>
                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="dia" name="dia" data-placeholder="Selecione um...">
                                        <option value="">.:Selecione:.</option>
                                        <option value="10">Dia 10</option>
                                        <option value="20">Dia 20</option>
                                        <option value="30">Dia 30</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#dia').val('@Html.ValueFor(x => x.Dia)');
                                    </script>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Ano&nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="ano" name="ano" placeholder="razão social" value="@Html.ValueFor(x => x.Ano)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data limite &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <div class="input-medium">
                                        <div class="input-group">
                                            <input class="input-medium date-picker input-mask-date" id="dataLimite" name="dataLimite" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="@Html.ValueFor(x => x.DataLimite)" />
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data de emissão&nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <div class="input-medium">
                                        <div class="input-group">
                                            <input class="input-medium date-picker input-mask-date" id="data" name="data" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="@Html.ValueFor(x => x.Data)" />
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Valor da fatura&nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="valorFatura" name="valorFatura" placeholder="razão social" value="@Html.ValueFor(x => x.Valor)" />
                                </div>
                            </div>


                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Salvar
                                    </button>
                                    @if (FaturamentoNovo)
                                    {
                                    <span>&nbsp; &nbsp;</span>
                                    <button class="btn" type="reset" id="limparForm">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Limpar
                                    </button>
                                    }
                                    else
                                    {
                                    <span>&nbsp; &nbsp;</span>
                                    <a href="javascript:excluirFaturamento(@Model.IdFaturamento)" class="btn btn-danger" type="reset">
                                        <i class="ace-icon fa fa-times bigger-110"></i>
                                        Excluir
                                    </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="edit-settings" class="tab-pane fade">
                            <div class="space-10"></div>
                            <a href="javascript:detalhamentoNotaFiscal(0)" class="btn btn-xs">+ Nova Nota Fiscal</a>
                            @if (Model != null && Model.NotasFiscais != null && Model.NotasFiscais.Any())
                            {
                                foreach (MediCloud.Models.Financeiro.NotaFiscalModel item in Model.NotasFiscais)
                                {
                                    <div class="row">
                                        <div class="col-xs-12" id="@item.IdNotaFiscal">
                                            <div class="media search-media">
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <span class="blue">@item.RazaoSocial </span>
                                                    </h4>
                                                    <p><b>Valor Total:</b>R$ @(item.ValorTotal?.ToString("0.00")) <br /> <b>Data de emissão:</b> @(item.DataEmissao?.ToShortDateString())</p>

                                                    <div class="search-actions text-center">
                                                        <span class="blue bolder bigger-110">Ações</span>

                                                        <div class="action-buttons bigger-150">
                                                            <a href="javascript:excluirNotaFiscal(@item.IdNotaFiscal);">
                                                                <i class="ace-icon fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <a href="javascript:detalhamentoNotaFiscal(@item.IdNotaFiscal)" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhuma nota fiscal para ser exibido.
                                </div>
                            }

                        </div>

                    </div>
                </form>
            </div><!-- /.span -->
        </div>
    </div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir Faturamento</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este Faturamento?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmNotaFiscal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir nota fiscal</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir esta nota fiscal?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteNotaFiscal">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="detalhamentoNotaFiscal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Contato de cliente</h3>
            </div>
            <form method="post" id="formNotaFiscalFaturamento" class="form-horizontal" action="@Url.Content("~/Faturamento/SalvarNotaFiscal")">
                <div class="modal-body">
                    <input type="hidden" id="codigoNotaFiscal" name="codigoNotaFiscal" value="0" />
                    <input type="hidden" id="codigoFaturamentoNotaFiscal" name="codigoFaturamentoNotaFiscal" value="@Html.ValueFor(x => x.IdFaturamento)" />

                    <input type="hidden" id="idCidadeCobranca" name="idCidadeCobranca" value="0" />
                    <input type="hidden" id="idCliente" name="idCliente" value="0" />
                    <input type="hidden" id="dataVencimento" name="dataVencimento" value="" />
                    <input type="hidden" id="idFormaPagamento" name="idFormaPagamento" value="0" />
                    <input type="hidden" id="idGrupoClientes" name="idGrupoClientes" value="0" />
                    <input type="hidden" id="imprimeNotaFiscal" name="imprimeNotaFiscal" value="0" />
                    <input type="hidden" id="modoEntrega" name="modoEntrega" value="0" />
                    <input type="hidden" id="observacao" name="observacao" value="" />

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Número da Nota Fiscal</label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="numeroNF" name="numeroNF" placeholder="Número da NF" value="" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Razão Social&nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="razaoSocial" name="razaoSocial" placeholder="Razão Social" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Imprime nota fiscal</label>

                        <div class="col-sm-8 ">
                            <div class="checkbox">
                                <label>
                                    <input name="imprimeNF" type="checkbox" class="ace" />
                                    <span class="lbl"> &nbsp;</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Valor total </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="valorTotal" name="valorTotal" placeholder="Valor Total" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Desconto ASO </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="descontoASO" name="descontoASO" placeholder="Desconto" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Desconto IRRF </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="descontoIRRF" name="descontoIRRF" placeholder="Desconto" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Desconto PIS/CONFINS </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="descontoPISCONFINS" name="descontoPISCONFINS" placeholder="Desconto" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Desconto ISS </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="descontoISS" name="descontoISS" placeholder="Desconto" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Endereço </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="endereco" name="endereco" placeholder="Endereço" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Bairro </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="bairro" name="bairro" placeholder="Bairro" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cidade </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="cidade" name="cidade" placeholder="Cidade" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CEP </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="CEP" name="CEP" placeholder="CEP" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">UF </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="estado" name="estado" placeholder="UF" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CPF/CNPJ/CEI </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="cpf" name="cpf" placeholder="Documento" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Estadual </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="InscricaoEstadual" name="InscricaoEstadual" placeholder="Documento" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Municipal </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="InscricaoMunicipal" name="InscricaoMunicipal" placeholder="Documento" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data de Emissão</label>

                        <div class="col-sm-8">
                            <div class="input-medium">
                                <div class="input-group">
                                    <input class="input-medium date-picker input-mask-date" id="dataEmissao" name="dataEmissao" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" value="" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="salvarNotaFiscal">
                        <i class="ace-icon fa fa-check"></i>
                        Salvar
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script type="text/javascript">
                                        function excluirNotaFiscal(codigo) {
                                            confirmDeleteModalNotaFiscal(codigo);
                                        }

                                        function excluirFaturamento(codigo) {
                                            confirmDeleteModal(codigo);
                                        }

                                        function confirmDeleteModalNotaFiscal(codigo) {
                                            $('#confirmNotaFiscal').modal({
                                                backdrop: 'static',
                                                keyboard: false
                                            })
                                                .one('click', '#deleteNotaFiscal', function () {
                                                    deletarNotaFiscal(codigo);
                                                });
                                        }

                                        function confirmDeleteModal(codigo) {
                                            $('#confirm').modal({
                                                backdrop: 'static',
                                                keyboard: false
                                            })
                                                .one('click', '#delete', function () {
                                                    window.location = "/Faturamento/ExcluirFaturamento?codigoFaturamento=" + codigo;
                                                });
                                        }

                                        function deletarNotaFiscal(codigo) {
                                            $.ajax({
                                                url: '/NotaFiscal/DeletarNotaFiscal?codigoDaNotaFiscal=' + codigo,
                                                type: "post",
                                                cache: false,
                                                success: function (savingStatus) {
                                                    var tipoAlert;
                                                    if (savingStatus.acaoBemSucedida) {
                                                        tipoAlert = 'alert-success';
                                                        $("#" + codigo).remove();
                                                    }
                                                    else
                                                        tipoAlert = 'alert-danger';
                                                    $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                                                }
                                            });
                                        }

                                        $("#limparForm").click(function () {
                                            var cntreq3 = 0;
                                            var cntvals3 = 0;
                                            $(".componenteFormulario").each(atualizarProgressBar());
                                        });

                                        $(document).ready(function () {
                                            $('input').on('change', function () {
                                                var cntreq = 0;
                                                var cntvals = 0;
                                                $(".componenteFormulario").each(atualizarProgressBar());
                                            });

                                            var cntreq3 = 0;
                                            var cntvals3 = 0;
                                            $(".componenteFormulario").each(atualizarProgressBar());

                                        });

                                        function atualizarProgressBar() {
                                            var cntreq = 0;
                                            var cntvals = 0;
                                            $(".componenteFormulario").each(function (val) {
                                                cntreq++;
                                                if ($(this).val() != '') {
                                                    cntvals++;
                                                }
                                            });
                                            var count = (cntvals / cntreq) * 100;
                                            count = parseInt(count);
                                            $('.formPercent').empty();
                                            $('.progress-striped').attr("data-percent", count + '%');
                                            $('div.progress-bar-success').attr("style", "width: " + count + '%');
                                            $('.formPercent').append(count + '% ');
                                        }

                                        $('.date-picker').datepicker({
                                            format: 'dd/mm/yyyy',
                                            language: 'pt-BR',
                                        });
                                        $('.input-mask-date').mask('99/99/9999');

                                        $(".tooltipASO").tooltip({
                                            show: null,
                                            position: {
                                                my: "left top",
                                                at: "left bottom"
                                            },
                                            open: function (event, ui) {
                                                ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
                                            }
                                        });

                                        function fecharFaturamento(codigo) {
                                            $.ajax({
                                                url: '/Faturamento/FecharFaturamento?codigoFaturamento=' + codigo,
                                                type: "post",
                                                cache: false,
                                                success: function (savingStatus) {
                                                    var tipoAlert;
                                                    if (savingStatus.acaoBemSucedida) {
                                                        tipoAlert = 'alert-success';

                                                        location.reload();
                                                    }
                                                    else
                                                        tipoAlert = 'alert-danger';
                                                    $('#FaturamentoAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    $('#FaturamentoAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível executar esta ação com o servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                                                }
                                            });
                                        }

                                        function detalhamentoNotaFiscal(codigo) {
                                            $('#detalhamentoNotaFiscal').modal({
                                                backdrop: 'static',
                                                keyboard: false
                                            })

                                            limparComponentesNotaFiscal();
                                            if (codigo > 0) {
                                                $.ajax({
                                                    url: '/NotaFiscal/DetalharNotaFiscal?codigoDoNotaFiscal=' + codigo,
                                                    type: "post",
                                                    cache: false,
                                                    success: function (data) {
                                                        $("#numeroNF").attr('value', data.NumeroNotaFiscal);
                                                        $("#codigoNotaFiscal").attr('value', data.IdNotaFiscal);
                                                        $("#razaoSocial").attr('value', data.RazaoSocial);
                                                        $("#imprimeNF").attr('checked', data.Imprime);
                                                        $("#valorTotal").attr('value', data.ValorTotal);
                                                        $("#descontoASO").attr('value', data.ValorDescontoPorPrazo);
                                                        $("#descontoIRRF").attr('value', data.ValorIRRF);
                                                        $("#descontoPISCONFINS").attr('value', data.ValorPISCONFINS);
                                                        $("#descontoISS").attr('value', data.ValorISS);
                                                        $("#endereco").attr('value', data.Endereco);
                                                        $("#bairro").attr('value', data.Bairro);
                                                        $("#cidade").attr('value', data.Cidade);
                                                        $("#CEP").attr('value', data.CEP);
                                                        $("#estado").attr('value', data.Estado);
                                                        $("#cpf").attr('value', data.CNPJ);
                                                        $("#InscricaoEstadual").attr('value', data.InscricaoEstadual);
                                                        $("#InscricaoMunicipal").attr('value', data.InscricaoMunicipal);
                                                        $("#dataEmissao").attr('value', toDateFromJson(data.DataEmissao));

                                                        //Ocultos
                                                        $("#dataVencimento").attr('value', toDateFromJson(data.DataVencimento));
                                                        $("#observacao").attr('value', data.ObservacaoNF);
                                                        $("#modoEntrega").attr('value', data.ModoEntrega);
                                                        $("#imprimeNotaFiscal").attr('value', data.ImprimeNotaFiscal);
                                                        $("#idGrupoClientes").attr('value', data.GrupoDeCliente.IdGrupoCliente);
                                                        $("#idFormaPagamento").attr('value', data.FormaDePagamento.IdFormaPagamento);
                                                        $("#idCliente").attr('value', data.Cliente.IdCliente);
                                                        $("#idCidadeCobranca").attr('value', data.CidadeCobranca.IdCidade);
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível detalhar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                                                    }
                                                });
                                            }
                                        }

                                        function limparComponentesNotaFiscal() {
                                            $("#codigoNotaFiscal").attr('value', '');
                                            $("#numeroNF").attr('value', '');
                                            $("#razaoSocial").attr('value', '');
                                            $("#imprimeNF").attr('checked',false);
                                            $("#valorTotal").attr('value', '');
                                            $("#descontoASO").attr('value', '');
                                            $("#descontoIRRF").attr('value', '');
                                            $("#descontoPISCONFINS").attr('value', '');
                                            $("#descontoISS").attr('value', '');
                                            $("#endereco").attr('value', '');
                                            $("#bairro").attr('value', '');
                                            $("#cidade").attr('value', '');
                                            $("#CEP").attr('value', '');
                                            $("#estado").attr('value', '');
                                            $("#cpf").attr('value', '');
                                            $("#InscricaoEstadual").attr('value', '');
                                            $("#InscricaoMunicipal").attr('value', '');
                                            $("#dataEmissao").attr('value', '');
                                            $("#observacoesContato").val('');

                                            //Ocultos
                                            $("#dataVencimento").attr('value', '');
                                            $("#observacao").attr('value', '');
                                            $("#modoEntrega").attr('value','');
                                            $("#imprimeNotaFiscal").attr('value', '');
                                            $("#idGrupoClientes").attr('value', '');
                                            $("#idFormaPagamento").attr('value', '');
                                            $("#idCliente").attr('value', '');
                                            $("#idCidadeCobranca").attr('value', '');
                                        }

                                        function toDateFromJson(src) {
                                            if (src != null)
                                                return formatDate(new Date(parseInt(src.substr(6))));
                                            else
                                                return '';
                                        }

                                        function formatDate(date) {
                                            var monthNames = [
                                                "January", "February", "March",
                                                "April", "May", "June", "July",
                                                "August", "September", "October",
                                                "November", "December"
                                            ];

                                            var day = date.getDate();
                                            var monthIndex = date.getMonth();
                                            var year = date.getFullYear();

                                            return day + '/' + ("0" + (monthIndex + 1)).slice(-2) + '/' + year;
                                        }
</script>
