@model MediCloud.Models.Financeiro.GrupoDeClientesModel
@{
    string checkedInativo = string.Empty;
    bool GrupoDeClientesNovo = true;

    ViewBag.Title = "Grupo de clientes";

    if (Model != null)
    {
        GrupoDeClientesNovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>

<style type="text/css">
    textarea {
        height: 200px;
    }
</style>

<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento de grupo de clientes
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro de grupo de clientes
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="well well-sm">
                    <!-- -
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    &nbsp; -->
                    <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                    &nbsp; &nbsp; &nbsp;
                    <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                        <div class="progress-bar progress-bar-success" style="width:70%"></div>
                    </div>

                </div><!-- /.well -->
                <div class="row">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                </div>

                <div class="space"></div>
                <form method="post" class="form-horizontal" action="@Url.Content("~/GrupoDeClientes/DetalhamentoGrupoDeClientes")">
                    <input type="hidden" id="codigoGrupoDeClientes" name="codigoGrupoDeClientes" value="@Html.ValueFor(x => x.IdGrupoCliente)" />
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                    Cadastro
                                </a>
                            </li>
                            @if (Model != null && Model.IdGrupoCliente > 0)
                            {
                                <li>
                                    <a data-toggle="tab" href="#edit-outrasEmpresas">

                                        <i class="red ace-icon fa fa-credit-card bigger-125"></i>
                                        Crediários
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in active">
                            <h4 class="header blue bolder smaller">Dados do grupo de clientes</h4>
                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nome do grupo &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-12 componenteFormulario" type="text" id="nomeGrupo" name="nomeGrupo" placeholder="nome fantasia do cliente" value="@Html.ValueFor(x => x.NomeGrupo)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nome Fantasia</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-12 componenteFormulario" type="text" id="nomeFantasia" name="nomeFantasia" placeholder="nome fantasia do cliente" value="@Html.ValueFor(x => x.NomeFantasia)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Tipo</label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="tipoEmpresa" name="tipoEmpresa">
                                        <option value="0">..:Selecione:..</option>
                                        <option value="2">Pessoa Jurídica</option>
                                        <option value="1">Pessoa Física</option>
                                        <option value="3">CEI</option>
                                    </select>
                                    <script type="text/javascript">
                                                $('#tipoEmpresa').val('@(Model == null ? 0 : (int)Model.TipoEmpresa)');
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CPF/CNPJ/CEI</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="CNPJ" name="CNPJ" placeholder="razão social" value="@Html.ValueFor(x => x.CNPJ)" />
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Municipal</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="inscricaoMunicipal" name="inscricaoMunicipal" placeholder="razão social" value="@Html.ValueFor(x => x.InscricaoMunicipal)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Inscrição Estadual</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="razão social" value="@Html.ValueFor(x => x.InscricaoEstadual)" />
                                </div>
                            </div>

                            <h4 class="header blue bolder smaller">Endereço</h4>
                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Rua (com nº) </label>

                                <div class="col-sm-8">
                                    <textarea class="col-sm-12 componenteFormulario" id="endereco" name="endereco" placeholder="digíte o nome da rua com número e complemento">@Html.ValueFor(x => x.Endereco)</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Bairro </label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="bairro" name="bairro" placeholder="nome do bairro" value="@Html.ValueFor(x => x.Bairro)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cidade </label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cidade" name="cidade" placeholder="nome da cidade" value="@Html.ValueFor(x => x.Cidade)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">CEP </label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-3 componenteFormulario" type="text" id="CEP" name="CEP" placeholder="número do CEP" value="@Html.ValueFor(x => x.CEP)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">UF </label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-1 componenteFormulario" type="text" id="UF" name="UF" placeholder="sigla do UF" value="@Html.ValueFor(x => x.Estado)" />
                                </div>
                            </div>

                            <h4 class="header blue bolder smaller">Configurações</h4>
                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Dia do fechamento </label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idFechamento" id="idFechamento" value="@Html.ValueFor(x => x.Fechamento.IdFechamento)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="Fechamento" name="Fechamento" placeholder="Digite o dia de fechamento" value="@Html.ValueFor(x => x.Fechamento.PeriodoApuracao)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Rota de Entrega </label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idRotaDeEntrega" id="idRotaDeEntrega" value="@Html.ValueFor(x => x.RotaDeEntrega.IdRotaDeEntrega)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="RotaDeEntrega" name="RotaDeEntrega" placeholder="Digite o nome da roda de entrega" value="@Html.ValueFor(x => x.RotaDeEntrega.NomeRotaDeEntrega)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Segmento </label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idSegmento" id="idSegmento" value="@Html.ValueFor(x => x.Segmento.IdSegmento)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="segmento" name="segmento" placeholder="Digite o nome do segmento" value="@Html.ValueFor(x => x.Segmento.NomeSegmento)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Forma de pagamento </label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idFormaPagamento" id="idFormaPagamento" value="@Html.ValueFor(x => x.FormaPagamento.IdFormaPagamento)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="FormaPagamento" name="FormaPagamento" placeholder="Digite a forma de pagamento" value="@Html.ValueFor(x => x.FormaPagamento.NomeFormaPagamento)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cidade de cobrança </label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idCidadeEntrega" id="idCidadeEntrega" value="@Html.ValueFor(x => x.CidadeEntrega.IdCidade)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="CidadeEntrega" name="CidadeEntrega" placeholder="Digite o nome da cidade" value="@Html.ValueFor(x => x.CidadeEntrega.NomeCidade)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Nota fiscal</label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="notaFiscal" name="notaFiscal">
                                        <option value="0">..:Selecione:..</option>
                                        <option value="1">Imprime</option>
                                        <option value="2">Não imprime</option>
                                        <option value="3">Exporta</option>
                                    </select>
                                    <script type="text/javascript">
                                            $('#notaFiscal').val('@(Model == null ? 0 : (int)Model.ImprimeNotaFiscal)');
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Modo de entrega</label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="modoEntrega" name="modoEntrega">
                                        <option value="0">..:Selecione:..</option>
                                        <option value="1">E-mail</option>
                                        <option value="2">Motoboy</option>
                                        <option value="3">Correio</option>
                                        <option value="4">Busca no local</option>
                                    </select>
                                    <script type="text/javascript">
                                            $('#modoEntrega').val('@(Model == null ? 0 : (int)Model.ModoDeEntrega)');
                                    </script>
                                </div>
                            </div>

                            <h4 class="header blue bolder smaller">Observações</h4>
                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-first">Observações</label>

                                <div class="col-sm-12">
                                    <textarea class="col-sm-12" id="observacoes" name="observacoes" placeholder="">@Html.ValueFor(x => x.Observacoes)</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-first">Observações para nota fiscal</label>

                                <div class="col-sm-12">
                                    <textarea class="col-sm-12" id="observacoesNotaFiscal" name="observacoesNotaFiscal" placeholder="">@Html.ValueFor(x => x.ObservacoesNotaFiscal)</textarea>
                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Salvar
                                    </button>
                                    @if (GrupoDeClientesNovo)
                                    {
                                        <span>&nbsp; &nbsp;</span>
                                        <button class="btn" type="reset" id="limparForm">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Limpar
                                        </button>
                                    }
                                    else
                                    {
                                        <span>&nbsp; &nbsp;</span>
                                        <a href="javascript:excluirGrupoDeClientes(@Model.IdGrupoCliente)" class="btn btn-danger" type="reset">
                                            <i class="ace-icon fa fa-times bigger-110"></i>
                                            Excluir
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="edit-outrasEmpresas" class="tab-pane fade">
                            <div class="space-10"></div>

                            <div class="action-buttons bigger-150">
                                <a href="javascript:bloquearGrupo(@Html.ValueFor(x => x.IdGrupoCliente));" class="tooltipASO" title="Bloquear Grupo">
                                    <i class="ace-icon red fa fa-ban"></i>
                                </a>
                            </div>

                            <h4 class="header blue bolder smaller">Crediários deste grupo</h4>
                            <div class="vspace-12-sm"></div>

                            @if (Model != null && Model.CrediariosCliente != null && Model.CrediariosCliente.Any())
                            {
                                <div class="row" id="Crediarios">
                                    <div class="col-xs-12">
                                        <table id="simple-table" class="table  table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Tabela</th>
                                                    <th>Fechamento</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (MediCloud.Models.Financeiro.CrediarioClienteModel item in Model.CrediariosCliente)
                                                {
                                                    <tr id="@item.IdCrediarioCliente">
                                                        <td>
                                                            @item.Cliente.RazaoSocial
                                                            <span id="bloqueado">
                                                                @if (item.Bloqueado ?? false)
                                                                {
                                                                    <span class="label label-danger" id="spanBloqueado">Bloqueado</span>
                                                                }
                                                            </span>
                                                        </td>
                                                        <td>@item.Tabela.NomeTabela</td>
                                                        <td>@item.Fechamento.PeriodoApuracao</td>
                                                        <td>
                                                            <a href="javascript:bloquearCrediario(@item.IdCrediarioCliente);">
                                                                <i class="ace-icon fa fa-ban red"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div><!-- /.span -->
                                </div><!-- /.row -->
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhum detalhe para ser exibido.
                                </div>
                            }

                        </div>
                    </div>
                </form>
            </div><!-- /.span -->
        </div>
    </div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir grupo de clientes</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este grupo de clientes?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script type="text/javascript">
                                            function excluirGrupoDeClientes(codigo) {
                                                confirmDeleteModal(codigo);
                                            }

                                            function confirmDeleteModal(codigo) {
                                                $('#confirm').modal({
                                                    backdrop: 'static',
                                                    keyboard: false
                                                })
                                                    .one('click', '#delete', function () {
                                                        window.location = "/GrupoDeClientes/ExcluirGrupoDeClientes?codigoGrupoDeClientes=" + codigo;
                                                    });
                                            }

                                            $("#limparForm").click(function () {
                                                var cntreq3 = 0;
                                                var cntvals3 = 0;
                                                $(".componenteFormulario").each(atualizarProgressBar());
                                            });

                                            $(document).ready(function () {
                                                $('input').on('change', function () {
                                                    var cntreq = 0;
                                                    var cntvals = 0;
                                                    $(".componenteFormulario").each(atualizarProgressBar());
                                                });

                                                var cntreq3 = 0;
                                                var cntvals3 = 0;
                                                $(".componenteFormulario").each(atualizarProgressBar());

                                            });

                                            function atualizarProgressBar() {
                                                var cntreq = 0;
                                                var cntvals = 0;
                                                $(".componenteFormulario").each(function (val) {
                                                    cntreq++;
                                                    if ($(this).val() != '') {
                                                        cntvals++;
                                                    }
                                                });
                                                var count = (cntvals / cntreq) * 100;
                                                count = parseInt(count);
                                                $('.formPercent').empty();
                                                $('.progress-striped').attr("data-percent", count + '%');
                                                $('div.progress-bar-success').attr("style", "width: " + count + '%');
                                                $('.formPercent').append(count + '% ');
                                            }

                                            $("#RotaDeEntrega").autocomplete({
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: "/RotaDeEntrega/BuscaRotaDeEntregaAJAX",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: { Prefix: request.term },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return { label: item.Name, value: item.Name, Id: item.Id };
                                                            }))

                                                        }
                                                    })
                                                },
                                                select: function (event, ui) {
                                                    $('#idRotaDeEntrega').attr('value', ui.item.Id);
                                                    $('#RotaDeEntrega').val(ui.item.label);
                                                    return false;
                                                },
                                                messages: {
                                                    noResults: "Sem resultados", results: ""
                                                }
                                            });
                                            $('#RotaDeEntrega').on('blur', function () {
                                                if ($(this).val().length === 0) {  //check for no. of characters entered
                                                    $('#idRotaDeEntrega').attr('value', 0);  // clear the textbox
                                                }
                                            });

                                            $("#segmento").autocomplete({
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: "/Segmento/BuscaSegmentoAJAX",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: { Prefix: request.term },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return { label: item.Name, value: item.Name, Id: item.Id };
                                                            }))

                                                        }
                                                    })
                                                },
                                                select: function (event, ui) {
                                                    $('#idSegmento').attr('value', ui.item.Id);
                                                    $('#segmento').val(ui.item.label);
                                                    return false;
                                                },
                                                messages: {
                                                    noResults: "Sem resultados", results: ""
                                                }
                                            });
                                            $('#segmento').on('blur', function () {
                                                if ($(this).val().length === 0) {  //check for no. of characters entered
                                                    $('#idSegmento').attr('value', 0);  // clear the textbox
                                                }
                                            });

                                            $("#Fechamento").autocomplete({
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: "/Fechamento/BuscaFechamentoAJAX",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: { Prefix: request.term },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return { label: item.Name, value: item.Name, Id: item.Id };
                                                            }))

                                                        }
                                                    })
                                                },
                                                select: function (event, ui) {
                                                    $('#idFechamento').attr('value', ui.item.Id);
                                                    $('#Fechamento').val(ui.item.label);
                                                    return false;
                                                },
                                                messages: {
                                                    noResults: "Sem resultados", results: ""
                                                }
                                            });
                                            $('#Fechamento').on('blur', function () {
                                                if ($(this).val().length === 0) {  //check for no. of characters entered
                                                    $('#idFechamento').attr('value', 0);  // clear the textbox
                                                }
                                            });

                                            $("#FormaPagamento").autocomplete({
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: "/FormaPagamento/BuscaFormaPagamentoAJAX",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: { Prefix: request.term },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return { label: item.Name, value: item.Name, Id: item.Id };
                                                            }))

                                                        }
                                                    })
                                                },
                                                select: function (event, ui) {
                                                    $('#idFormaPagamento').attr('value', ui.item.Id);
                                                    $('#FormaPagamento').val(ui.item.label);
                                                    return false;
                                                },
                                                messages: {
                                                    noResults: "Sem resultados", results: ""
                                                }
                                            });
                                            $('#FormaPagamento').on('blur', function () {
                                                if ($(this).val().length === 0) {  //check for no. of characters entered
                                                    $('#idFormaPagamento').attr('value', 0);  // clear the textbox
                                                }
                                            });

                                            $("#CidadeEntrega").autocomplete({
                                                source: function (request, response) {
                                                    $.ajax({
                                                        url: "/Cidade/BuscaCidadeAJAX",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: { Prefix: request.term },
                                                        success: function (data) {
                                                            response($.map(data, function (item) {
                                                                return { label: item.Name, value: item.Name, Id: item.Id };
                                                            }))

                                                        }
                                                    })
                                                },
                                                select: function (event, ui) {
                                                    $('#idCidadeEntrega').attr('value', ui.item.Id);
                                                    $('#CidadeEntrega').val(ui.item.label);
                                                    return false;
                                                },
                                                messages: {
                                                    noResults: "Sem resultados", results: ""
                                                }
                                            });
                                            $('#CidadeEntrega').on('blur', function () {
                                                if ($(this).val().length === 0) {  //check for no. of characters entered
                                                    $('#idCidadeEntrega').attr('value', 0);  // clear the textbox
                                                }
                                            });

                                            function bloquearCrediario(codigo) {
                                                var bloquear = false;
                                                if ($("#" + codigo).find("#bloqueado").children().length > 0) {
                                                    $("#" + codigo).find("#bloqueado").find("#spanBloqueado").remove();
                                                    bloquear = false;
                                                } else {
                                                    $("#" + codigo).find("#bloqueado").html("<span class=\"label label-danger\" id=\"spanBloqueado\">Bloqueado</span>");
                                                    bloquear = true;
                                                }

                                                bloquearCrediarioAjax(bloquear, codigo);
                                            }

                                            function bloquearCrediarioAjax(bloquear, codigo) {
                                                $.ajax({
                                                    url: '/CrediarioCliente/BloquearCrediario?codigoDoCrediario=' + codigo + "&Bloquear=" + bloquear,
                                                    type: "post",
                                                    cache: false,
                                                    success: function (savingStatus) {
                                                        var tipoAlert;
                                                        if (savingStatus.acaoBemSucedida)
                                                            tipoAlert = 'alert-success';
                                                        else
                                                            tipoAlert = 'alert-danger';
                                                        $('#GrupoDeCLientesAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        $('#GrupoDeCLientesAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível bloquear este usuário no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                                                    }
                                                });
                                            }

                                            $(".tooltipASO").tooltip({
                                                show: null,
                                                position: {
                                                    my: "left top",
                                                    at: "left bottom"
                                                },
                                                open: function (event, ui) {
                                                    ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
                                                }
                                            });

                                            function bloquearGrupo(codigo) {
                                                $.ajax({
                                                    url: '/GrupoDeClientes/BloquearCrediarioDeGrupo?codigoDoGrupo=' + codigo,
                                                    type: "post",
                                                    cache: false,
                                                    success: function (savingStatus) {
                                                        var tipoAlert;
                                                        if (savingStatus.acaoBemSucedida)
                                                            tipoAlert = 'alert-success';
                                                        else
                                                            tipoAlert = 'alert-danger';

                                                        $('#Crediarios').load(document.URL + ' #Crediarios');


                                                        $('#GrupoDeCLientesAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        $('#GrupoDeCLientesAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível bloquear este usuário no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                                                    }
                                                });
                                            }
                                            
</script>
