@model MediCloud.Models.Fornecedor.FornecedorModel
@{
    string checkedInativo = string.Empty;
    bool FornecedorNovo = true;
    string checkedFornecedorProcedimentos = string.Empty;

    ViewBag.Title = "Fornecedor";

    if (Model != null)
    {
        checkedFornecedorProcedimentos = Model.FornecedorDeProcedimentos.HasValue ? (Model.FornecedorDeProcedimentos.Value ? "checked" : string.Empty) : string.Empty;
        FornecedorNovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento de Fornecedor
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro de Fornecedor
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="well well-sm">
                    <!-- -
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    &nbsp; -->
                    <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                    &nbsp; &nbsp; &nbsp;
                    <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                        <div class="progress-bar progress-bar-success" style="width:70%"></div>
                    </div>

                </div><!-- /.well -->
                <div class="row">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                </div>

                <div class="space"></div>
                <form method="post" class="form-horizontal" action="@Url.Content("~/Fornecedor/DetalhamentoFornecedor")">
                    <input type="hidden" id="codigoFornecedor" name="codigoFornecedor" value="@Html.ValueFor(x => x.IdFornecedor)" />
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                    Cadastro
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#edit-contact">
                                    <i class="blue ace-icon fa fa-users bigger-125"></i>
                                    Contatos
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#edit-procedure">
                                    <i class="orange ace-icon fa fa-cog bigger-125"></i>
                                    Procedimentos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in fade active">
                            <h4 class="header blue bolder smaller">Dados do Fornecedor</h4>

                            <div class="row">
                                <div class="vspace-12-sm"></div>

                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Razão Social &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="razaoSocial" name="razaoSocial" placeholder="Razão social" value="@Html.ValueFor(x => x.RazaoSocial)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nome Fantasia &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="nomeFantasia" name="nomeFantasia" placeholder="Nome fantasia" value="@Html.ValueFor(x => x.NomeFantasia)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Código do banco</label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="number" id="codigoBanco" name="codigoBanco" placeholder="Código do banco" value="@Html.ValueFor(x => x.CodigoBanco)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Código da agência (com digito verificador - apenas números)</label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="number" id="codigoAgencia" name="codigoAgencia" placeholder="Código da agência" value="@Html.ValueFor(x => x.CodigoAgencia)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Conta corrente (com digito verificador - apenas números)</label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="number" id="contaCorrente" name="contaCorrente" placeholder="Conta corente" value="@Html.ValueFor(x => x.ContaCorrente)" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Tipo da conta</label>

                                        <div class="col-sm-8">
                                            <select class="chosen-select form-control" id="tipoConta" name="tipoConta" data-placeholder="Selecione um...">
                                                <option value="0">.:Selecione:.</option>
                                                <option value="1">Corrente</option>
                                                <option value="2">Poupança</option>
                                            </select>
                                            <script type="text/javascript">
                                                $('#tipoConta').val('@(Model != null ? (int)Model.TipoConta : 0)');
                                            </script>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Fornecedor de procedimentos</label>

                                        <div class="col-sm-8 ">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="fornecedorDeProcedimentos" type="checkbox" class="ace" @checkedFornecedorProcedimentos />
                                                    <span class="lbl"> &nbsp;</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">CNPJ</label>

                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="CNPJ" name="CNPJ" placeholder="Conta corente" value="@Html.ValueFor(x => x.CNPJ)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Salvar
                                    </button>
                                    @if (FornecedorNovo)
                                    {
                                        <span>&nbsp; &nbsp;</span>
                                        <button class="btn" type="reset" id="limparForm">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Limpar
                                        </button>
                                    }
                                    else
                                    {
                                        <span>&nbsp; &nbsp;</span>
                                        <a href="javascript:excluirFornecedor(@Model.IdFornecedor)" class="btn btn-danger" type="reset">
                                            <i class="ace-icon fa fa-times bigger-110"></i>
                                            Excluir
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="edit-contact" class="tab-pane in fade">
                            <div class="space-10"></div>
                            <a href="javascript:detalhamentoDoContato(0)" class="btn btn-xs">+ Novo contato</a>
                            @if (Model != null && Model.ContatosFornecedor != null && Model.ContatosFornecedor.Any())
                            {
                                foreach (MediCloud.Models.Fornecedor.ContatoFornecedorModel item in Model.ContatosFornecedor)
                                {
                                    <div class="row">
                                        <div class="col-xs-12" id="@item.IdContatoFornecedor">
                                            <div class="media search-media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" data-src="holder.js/72x72" alt="72x72" src="/assets/images/avatars/contact.png" data-holder-rendered="true" style="width: 72px; height: 72px;">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="container">
                                                        <h4 class="media-heading">
                                                            <span class="blue">@item.Nome </span>
                                                        </h4>
                                                    </div>
                                                    <p><b>Celular:</b> @item.TelMovel <br /> <b>Fixo:</b> @item.TelFixo</p>

                                                    <div class="search-actions text-center">
                                                        <span class="blue bolder bigger-110">Ações</span>

                                                        <div class="action-buttons bigger-150">
                                                            <a href="javascript:excluirContato(@item.IdContatoFornecedor);">
                                                                <i class="ace-icon fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <a href="javascript:detalhamentoDoContato(@item.IdContatoFornecedor)" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhum contato para ser exibido.
                                </div>
                            }

                        </div>

                        <div id="edit-procedure" class="tab-pane in fade">
                            <div class="space-10"></div>
                            <a href="javascript:detalhamentoDoProcedimento(0)" class="btn btn-xs">+ Novo procedimento</a>
                            @if (Model != null && Model.ProcedimentosFornecedor != null && Model.ProcedimentosFornecedor.Any())
                            {
                                foreach (MediCloud.Models.Fornecedor.FornecedorProcedimento item in Model.ProcedimentosFornecedor)
                                {
                                    <div class="row">
                                        <div class="col-xs-12" id="@item.Procedimento.IdProcedimento">
                                            <div class="media search-media">
                                                <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <span class="blue">@item.Procedimento.Nome </span>
                                                        </h4>
                                                    <p><b>Valor:</b> @item.Valor <br /> <br/> </p>

                                                    <div class="search-actions text-center">
                                                        <span class="blue bolder bigger-110">Ações</span>

                                                        <div class="action-buttons bigger-150">
                                                            <a href="javascript:excluirProcedimento(@item.Procedimento.IdProcedimento);">
                                                                <i class="ace-icon fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <a href="javascript:detalhamentoDoProcedimento(@item.Procedimento.IdProcedimento)" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhum contato para ser exibido.
                                </div>
                            }

                        </div>

                    </div>
                </form>
            </div><!-- /.span -->
        </div>
    </div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir Fornecedor</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este Fornecedor?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmContato" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir contato</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este contato?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteContato">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmProcedimento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir proceidmento</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este procedimento?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteProcedimento">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="detalhamentoContato" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Contato de fornecedor</h3>
            </div>
            <form method="post" id="formContatoCliente" class="form-horizontal" action="@Url.Content("~/Fornecedor/SalvarContato")">
                <div class="modal-body">
                    <input type="hidden" id="codigoContato" name="codigoContato" value="0" />
                    <input type="hidden" id="codigoFornecedorContato" name="codigoFornecedorContato" value="@Html.ValueFor(x => x.IdFornecedor)" />

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Nome &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="nomeContato" name="nomeContato" placeholder="nome do contato" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Departamento &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <select class="form-control" id="departamento" name="departamento">
                                <option value="0">..:Selecione:..</option>
                                <option value="1">Administrativo</option>
                                <option value="6">Cobrança</option>
                                <option value="2">Comercial</option>
                                <option value="8">Contratos</option>
                                <option value="4">Financeiro</option>
                                <option value="3">Jurídico</option>
                                <option value="7">Diretoria</option>
                                <option value="5">Outros</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Função &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="funcao" name="funcao" placeholder="Função do contato" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Tel. Fixo </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="telFixo" name="telFixo" placeholder="número do telefone" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Tel. Móvel </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="telMovel" name="telMovel" placeholder="número do celular" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">E-mail </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="email" name="email" placeholder="Endereço de email" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data de nascimento</label>

                        <div class="col-sm-8">
                            <div class="input-medium">
                                <div class="input-group">
                                    <input class="input-medium date-picker input-mask-date" id="dataNascimento" name="dataNascimento" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" value="" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Observações</label>
                        <div class="col-sm-12">
                            <textarea class="col-sm-12" id="observacoesContato" name="observacoesContato" placeholder="observações adicionais"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="salvarContato">
                        <i class="ace-icon fa fa-check"></i>
                        Salvar
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="detalhamentoProcedimento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Procedimento de fornecedor</h3>
            </div>
            <form method="post" id="formContatoCliente" class="form-horizontal" action="@Url.Content("~/Fornecedor/SalvarProcedimento")">
                <div class="modal-body">
                    <input type="hidden" id="codigoContato" name="codigoProcedimento" value="0" />
                    <input type="hidden" id="codigoFornecedorContato" name="codigoFornecedorProcedimento" value="@Html.ValueFor(x => x.IdFornecedor)" />

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Procedimento  &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input type="hidden" name="idProcedimento" id="idProcedimento" value="" />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                <input class="col-xs-12 col-sm-6" type="text" id="procedimento" name="procedimento" placeholder="Digite o procedimento" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Valor </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="number" step="0.01" id="valorProcedimento" name="valorProcedimento" placeholder="Valor" value="" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="salvarContato">
                        <i class="ace-icon fa fa-check"></i>
                        Salvar
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script type="text/javascript">
    function excluirFornecedor(codigo) {
        confirmDeleteModal(codigo);
    }

    function excluirContato(codigo) {
        confirmDeleteModalContato(codigo);
    }

    function excluirProcedimento(codigo) {
        confirmDeleteModalProcedimento(codigo);
    }

    function confirmDeleteModalContato(codigo) {
        $('#confirmContato').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#deleteContato', function () {
                deletarContato(codigo);
            });
    }

    function confirmDeleteModalProcedimento(codigo) {
        $('#confirmContato').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#deleteContato', function () {
                deletarProcedimento(codigo);
            });
    }

    function detalhamentoDoContato(codigo) {
        $('#detalhamentoContato').modal({
            backdrop: 'static',
            keyboard: false
        })

        limparComponentesContato();
        if (codigo > 0) {
            $.ajax({
                url: '/Contato/DetalharContatoFornecedor?codigoDoContatoFornecedor=' + codigo,
                type: "post",
                cache: false,
                success: function (data) {
                    $("#nomeContato").attr('value', data.Nome);
                    $("#codigoContato").attr('value', data.IdContatoFornecedor);
                    $("#departamento").val(data.Departamento);
                    $("#funcao").attr('value', data.Funcao);
                    $("#telFixo").attr('value', data.TelFixo);
                    $("#telMovel").attr('value', data.TelMovel);
                    $("#email").attr('value', data.Email);
                    $("#dataNascimento").attr('value', toDateFromJson(data.DataNascimento));
                    $("#observacoesContato").val(data.Observacao);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível detalhar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                }
            });
        }
    }

    function detalhamentoDoProcedimento(codigo) {
        $('#detalhamentoProcedimento').modal({
            backdrop: 'static',
            keyboard: false
        })

        limparComponentesFornecedor();
        if (codigo > 0) {
            $.ajax({
                url: '/Fornecedor/DetalharProcedimentoFornecedor?codigoDoProcedimentoFornecedor=' + codigo + "&codigoFornecedor=" + @Html.ValueFor(x => x.IdFornecedor),
                type: "post",
                cache: false,
                success: function (data) {
                    $("#procedimento").attr('value', data.Procedimento.Nome);
                    $("#idProcedimento").attr('value', data.Procedimento.IdProcedimento);
                    $("#valorProcedimento").attr('value', data.Valor);

                    $("#codigoProcedimento").attr('value', data.Procedimento.IdProcedimento);

                    $("#procedimento").attr("readonly", true);
                    $("#idProcedimento").attr("readonly", true);
                    $("#codigoProcedimento").attr("readonly", true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível detalhar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                }
            });
        }
    }

    function toDateFromJson(src) {
        if (src != null)
            return formatDate(new Date(parseInt(src.substr(6))));
        else
            return '';
    }

    function formatDate(date) {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + '/' + ("0" + (monthIndex + 1)).slice(-2) + '/' + year;
    }

    function limparComponentesContato() {
        $("#nomeContato").attr('value', '');
        $("#codigoContato").attr('value', '0');
        $("#departamento").val('0');
        $("#funcao").attr('value', '');
        $("#telFixo").attr('value', '');
        $("#telMovel").attr('value', '');
        $("#email").attr('value', '');
        $("#dataNascimento").attr('value', '');
        $("#observacoesContato").val('');
    }

    function limparComponentesFornecedor() {
        $("#procedimento").attr('value', '');
        $("#procedimento").attr("readonly", false);

        $("#idProcedimento").attr('value', '0');
        $("#idProcedimento").attr("readonly", false);

        $("#valorProcedimento").attr('value', '0');

        $("#codigoProcedimento").attr('value', '0');
        $("#codigoProcedimento").attr("readonly", false);
    }

    function deletarContato(codigo) {
        $.ajax({
            url: '/Contato/DeletarContatoFornecedor?codigoDoContatoFornecedor=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                    $("#" + codigo).remove();
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }

    function deletarProcedimento(codigo) {
        $.ajax({
            url: '/Fornecedor/DeletarProcedimentoFornecedor?codigoDoProcedimentoFornecedor=' + codigo + "&codigoFornecedor=" + @Html.ValueFor(x => x.IdFornecedor),
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                    $("#" + codigo).remove();
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }

    $('#telFixo').mask('(99) 9999-9999');
    $('#telMovel').mask('(99) 99999-9999');
    $('.date-picker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
    });
    $('.input-mask-date').mask('99/99/9999');

    function confirmDeleteModal(codigo) {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function () {
                window.location = "/Fornecedor/ExcluirFornecedor?codigoFornecedor=" + codigo;
            });
    }

    $("#limparForm").click(function () {
        var cntreq3 = 0;
        var cntvals3 = 0;
        $(".componenteFormulario").each(atualizarProgressBar());
    });

    $(document).ready(function () {
        $('input').on('change', function () {
            var cntreq = 0;
            var cntvals = 0;
            $(".componenteFormulario").each(atualizarProgressBar());
        });

        var cntreq3 = 0;
        var cntvals3 = 0;
        $(".componenteFormulario").each(atualizarProgressBar());

    });

    function atualizarProgressBar() {
        var cntreq = 0;
        var cntvals = 0;
        $(".componenteFormulario").each(function (val) {
            cntreq++;
            if ($(this).val() != '') {
                cntvals++;
            }
        });
        var count = (cntvals / cntreq) * 100;
        count = parseInt(count);
        $('.formPercent').empty();
        $('.progress-striped').attr("data-percent", count + '%');
        $('div.progress-bar-success').attr("style", "width: " + count + '%');
        $('.formPercent').append(count + '% ');
    }

    $('#CNPJ').mask('99.999.999/9999-99');

    $("#procedimento").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Procedimento/BuscarProcedimentoAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id, Value: item.Value };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $('#idProcedimento').attr('value', ui.item.Id);
            $('#procedimento').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#procedimento').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idProcedimento').attr('value', 0);  // clear the textbox
        }
    });
</script>
