@using MediCloud.Models.Cliente
@using MediCloud.Models.Financeiro
@using MediCloud.Models.Parametro
@using System.Linq

@model MediCloud.Models.Cliente.ASOModel
@{
    ViewBag.Title = "ASO";

    string checkedAtivo = string.Empty;
    bool ASONovo = true;

    List<ReferenteModel> todosReferentes = new List<ReferenteModel>();
    if (ViewData["Referentes"] != null)
    {
        todosReferentes.AddRange(ViewData["Referentes"] as List<ReferenteModel>);
    }

    List<TabelaPrecoModel> todasTabelas = new List<TabelaPrecoModel>();
    if (ViewData["TabelaPrecos"] != null)
    {
        todasTabelas.AddRange(ViewData["TabelaPrecos"] as List<TabelaPrecoModel>);
    }

    List<FormaPagamentoModel> todasFormasPagamento = new List<FormaPagamentoModel>();
    if (ViewData["FormaPagamento"] != null)
    {
        todasFormasPagamento.AddRange(ViewData["FormaPagamento"] as List<FormaPagamentoModel>);
    }

    if (Model != null)
    {
        checkedAtivo = (Model.Status == "ENTREGUE") ? "checked" : string.Empty;
        ASONovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento do ASO
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro do ASO
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="well well-sm">
                    <!-- -
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    &nbsp; -->
                    <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                    &nbsp; &nbsp; &nbsp;
                    <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                        <div class="progress-bar progress-bar-success" style="width:70%"></div>
                    </div>

                </div><!-- /.well -->
                <div class="row">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                </div>

                <div class="space"></div>
                <form method="post" class="form-horizontal" action="@Url.Content("~/ASO/DetalhamentoASO")">
                    <input type="hidden" id="codigoASO" name="codigoASO" value="@Html.ValueFor(x => x.IdASO)" />
                    <input type="hidden" id="usuario" name="usuario" value="@Html.ValueFor(x => x.Usuario)" />
                    <input type="hidden" id="caixaPendente" name="caixaPendente" value="@Html.ValueFor(x => x.CaixaPendente)" />
                    <input type="hidden" id="fechamentoCaixa" name="fechamentoCaixa" value="@Html.ValueFor(x => x.IdFechamentoCaixa)" />
                    <input type="hidden" id="faturamento" name="faturamento" value="@Html.ValueFor(x => x.Faturamento.IdFaturamento)" />
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                    Cadastro
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in active">
                            <h4 class="header blue bolder smaller">Dados do ASO</h4>

                            <div class="vspace-12-sm"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Referente a &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="referente" name="referente" data-placeholder="Selecione um...">
                                        @foreach (var item in todosReferentes)
                                        {
                                            <option value="@item.IdReferencia">@item.NomeReferencia</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                        $('#referente').val('@Html.ValueFor(x => x.Referente.IdReferencia)');
                                    </script>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <div class="input-medium">
                                        <div class="input-group">
                                            <input class="input-medium date-picker input-mask-date" id="data" name="data" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="@Html.ValueFor(x => x.Data)" />
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cliente &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idCliente" id="idCliente" value="@Html.ValueFor(x => x.Cliente.IdCliente)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cliente" name="cliente" placeholder="Digite o nome do cliente" value="@Html.ValueFor(x => x.Cliente.RazaoSocial)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Tabela &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="tabela" name="tabela" data-placeholder="Selecione um...">
                                        @foreach (var item in todasTabelas)
                                        {
                                            <option value="@item.IdTabela">@item.NomeTabela</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                        $('#tabela').val('@Html.ValueFor(x => x.Tabela.IdTabela)');
                                    </script>

                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Funcionário &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idFuncionario" id="idFuncionario" value="@Html.ValueFor(x => x.Funcionario.IdFuncionario)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="funcionario" name="funcionario" placeholder="Digite o nome do Funcionário" value="@Html.ValueFor(x => x.Funcionario.NomeCompleto)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cargo &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idCargo" id="idCargo" value="@Html.ValueFor(x => x.Cargo.IdCargo)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cargo" name="cargo" placeholder="Digite o cargo do funcionário" value="@Html.ValueFor(x => x.Cargo.NomeCargo)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Setor &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input type="hidden" name="idSetor" id="idSetor" value="@Html.ValueFor(x => x.Setor.IdSetor)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-search"></i>
                                        </span>
                                        <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="setor" name="setor" placeholder="Digite o setor" value="@Html.ValueFor(x => x.Setor.NomeSetor)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Forma de pagamento &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="formaPagamento" name="formaPagamento" data-placeholder="Selecione um...">
                                        @foreach (var item in todasFormasPagamento)
                                        {
                                            <option value="@item.IdFormaPagamento">@item.NomeFormaPagamento</option>
                                        }
                                    </select>
                                </div>
                                <script type="text/javascript">
                                                    $('#formaPagamento').val('@Html.ValueFor(x => x.FormaPagamento.IdFormaPagamento)');
                                </script>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Entregue</label>

                                <div class="col-sm-8 ">
                                    <div class="checkbox">
                                        <label>
                                            <input name="entregue" type="checkbox" class="ace" @checkedAtivo />
                                            <span class="lbl"> &nbsp;</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-first">Observação</label>

                                <div class="col-sm-12">
                                    <textarea class="col-sm-12 componenteFormulario" id="observacoes" name="observacoes" placeholder="observações adicionais">@Html.ValueFor(x => x.Observacao)</textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-12 pricing-box">
                                    <div class="widget-box widget-color-dark">
                                        <div class="widget-header">
                                            <h5 class="widget-title bigger lighter">Mais informações deste ASO</h5>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <ul class="list-unstyled spaced2">
                                                    <li>
                                                        <i class="ace-icon fa fa-check green"></i>
                                                        Total desta ASO: <b></b>
                                                    </li>

                                                    <li>
                                                        <i class="ace-icon fa fa-check green"></i>
                                                        Código de fechamento do caixa: <b>@Html.ValueFor(x => x.IdFechamentoCaixa)</b>
                                                    </li>

                                                    <li>
                                                        <i class="ace-icon fa fa-check green"></i>
                                                        Data do faturamento: <b>@Html.ValueFor(x => x.Faturamento.Data)</b>
                                                    </li>

                                                    <li>
                                                        <i class="ace-icon fa fa-check green"></i>
                                                        Usuário: <b>@Html.ValueFor(x => x.Usuario)</b>
                                                    </li>
                                                </ul>

                                                <hr />
                                                <div class="price">
                                                    <small>Situação do caixa:</small>
                                                        @if (Model != null && Model.CaixaPendente)
                                                        {
                                                            <span class="label label-danger">Pendente</span>
                                                        }
                                                        else if (Model != null && !Model.CaixaPendente)
                                                        {
                                                            <span class="label label-success">Fechado</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-primary">Indefinido</span>
                                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Salvar
                            </button>
                            @if (ASONovo)
                            {
                                <span>&nbsp; &nbsp;</span>
                                <button class="btn" type="reset" id="limparForm">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Limpar
                                </button>
                            }
                        </div>
                    </div>
                </form>
            </div><!-- /.span -->
        </div>
    </div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir usuário</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este usuário?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>


<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/assets/js/chosen.jquery.min.js"></script>


<script type="text/javascript">

                                                    $('.date-picker').datepicker({
                                                        format: 'dd/mm/yyyy',
                                                        language: 'pt-BR',
                                                    });
                                                    $('.input-mask-date').mask('99/99/9999');


                                                    $("#limparForm").click(function () {
                                                        var cntreq3 = 0;
                                                        var cntvals3 = 0;
                                                        $(".componenteFormulario").each(atualizarProgressBar());
                                                    });


                                                    $("#cliente").autocomplete({
                                                        source: function (request, response) {
                                                            $.ajax({
                                                                url: "/Cliente/BuscaClienteAJAX",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: { Prefix: request.term },
                                                                success: function (data) {
                                                                    response($.map(data, function (item) {
                                                                        return { label: item.Name, value: item.Name, Id: item.Id };
                                                                    }))

                                                                }
                                                            })
                                                        },
                                                        select: function (event, ui) {
                                                            $('#idCliente').attr('value', ui.item.Id);
                                                            $('#cliente').val(ui.item.label);
                                                            return false;
                                                        },
                                                        messages: {
                                                            noResults: "Sem resultados", results: ""
                                                        }
                                                    });
                                                    $('#cliente').on('blur', function () {
                                                        if ($(this).val().length === 0) {  //check for no. of characters entered
                                                            $('#idCliente').attr('value', 0);  // clear the textbox
                                                        }
                                                    });

                                                    $("#funcionario").autocomplete({
                                                        source: function (request, response) {
                                                            $.ajax({
                                                                url: "/Funcionario/BuscaFuncionarioDeClienteAJAX",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: { Prefix: request.term, IdCliente: $('#idCliente').attr('value') },
                                                                success: function (data) {
                                                                    response($.map(data, function (item) {
                                                                        return { label: item.Name, value: item.Name, Id: item.Id };
                                                                    }))

                                                                }
                                                            })
                                                        },
                                                        select: function (event, ui) {
                                                            $('#idFuncionario').attr('value', ui.item.Id);
                                                            $('#funcionario').val(ui.item.label);
                                                            return false;
                                                        },
                                                        messages: {
                                                            noResults: "Sem resultados", results: ""
                                                        }
                                                    });
                                                    $('#funcionario').on('blur', function () {
                                                        if ($(this).val().length === 0) {  //check for no. of characters entered
                                                            $('#idFuncionario').attr('value', 0);  // clear the textbox
                                                        }
                                                    });

                                                    $("#cargo").autocomplete({
                                                        source: function (request, response) {
                                                            $.ajax({
                                                                url: "/Cargo/BuscaCargoAJAX",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: { Prefix: request.term },
                                                                success: function (data) {
                                                                    response($.map(data, function (item) {
                                                                        return { label: item.Name, value: item.Name, Id: item.Id };
                                                                    }))

                                                                }
                                                            })
                                                        },
                                                        select: function (event, ui) {
                                                            $('#idCargo').attr('value', ui.item.Id);
                                                            $('#cargo').val(ui.item.label);
                                                            return false;
                                                        },
                                                        messages: {
                                                            noResults: "Sem resultados", results: ""
                                                        }
                                                    });
                                                    $('#cargo').on('blur', function () {
                                                        if ($(this).val().length === 0) {  //check for no. of characters entered
                                                            $('#idCargo').attr('value', 0);  // clear the textbox
                                                        }
                                                    });

                                                    $("#setor").autocomplete({
                                                        source: function (request, response) {
                                                            $.ajax({
                                                                url: "/Setor/BuscaSetorAJAX",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: { Prefix: request.term },
                                                                success: function (data) {
                                                                    response($.map(data, function (item) {
                                                                        return { label: item.Name, value: item.Name, Id: item.Id };
                                                                    }))

                                                                }
                                                            })
                                                        },
                                                        select: function (event, ui) {
                                                            $('#idSetor').attr('value', ui.item.Id);
                                                            $('#setor').val(ui.item.label);
                                                            return false;
                                                        },
                                                        messages: {
                                                            noResults: "Sem resultados", results: ""
                                                        }
                                                    });
                                                    $('#setor').on('blur', function () {
                                                        if ($(this).val().length === 0) {  //check for no. of characters entered
                                                            $('#idSetor').attr('value', 0);  // clear the textbox
                                                        }
                                                    });


                                                    $(document).ready(function () {
                                                        $('input').on('change', function () {
                                                            var cntreq = 0;
                                                            var cntvals = 0;
                                                            $(".componenteFormulario").each(atualizarProgressBar());
                                                        });

                                                        var cntreq3 = 0;
                                                        var cntvals3 = 0;
                                                        $(".componenteFormulario").each(atualizarProgressBar());

                                                    });
                                                    function atualizarProgressBar() {
                                                        var cntreq = 0;
                                                        var cntvals = 0;
                                                        $(".componenteFormulario").each(function (val) {
                                                            cntreq++;
                                                            if ($(this).val() != '') {
                                                                cntvals++;
                                                            }
                                                        });
                                                        var count = (cntvals / cntreq) * 100;
                                                        count = parseInt(count);
                                                        $('.formPercent').empty();
                                                        $('.progress-striped').attr("data-percent", count + '%');
                                                        $('div.progress-bar-success').attr("style", "width: " + count + '%');
                                                        $('.formPercent').append(count + '% ');
                                                    }


                                                    if (!ace.vars['touch']) {
                                                        $('.chosen-select').chosen({ allow_single_deselect: true });
                                                        //resize the chosen on window resize

                                                        $(window)
                                                            .off('resize.chosen')
                                                            .on('resize.chosen', function () {
                                                                $('.chosen-select').each(function () {
                                                                    var $this = $(this);
                                                                    $this.next().css({ 'width': $this.parent().width() });
                                                                })
                                                            }).trigger('resize.chosen');
                                                        //resize chosen on sidebar collapse/expand
                                                        $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                                                            if (event_name != 'sidebar_collapsed') return;
                                                            $('.chosen-select').each(function () {
                                                                var $this = $(this);
                                                                $this.next().css({ 'width': $this.parent().width() });
                                                            })
                                                        });


                                                        $('#chosen-multiple-style .btn').on('click', function (e) {
                                                            var target = $(this).find('input[type=radio]');
                                                            var which = parseInt(target.val());
                                                            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                                                            else $('#form-field-select-4').removeClass('tag-input-style');
                                                        });
                                                    }
</script>
