@using MediCloud.Models.Recomendacao
@using MediCloud.Models.Financeiro
@using MediCloud.Models.Parametro.GrupoProcedimento
@using System.Linq

@model MediCloud.DatabaseModels.MOVIMENTO
@{
    ViewBag.Title = "ASO";

    string checkedAtivo = string.Empty;
    bool ASONovo = true;
    decimal valorTotalDaASO = 0;

    List<ReferenteModel> todosReferentes = new List<ReferenteModel>();
    if (ViewData["Referentes"] != null)
    {
        todosReferentes.AddRange(ViewData["Referentes"] as List<ReferenteModel>);
    }

    List<TabelaPrecoModel> todasTabelas = new List<TabelaPrecoModel>();
    if (ViewData["TabelaPrecos"] != null)
    {
        todasTabelas.AddRange(ViewData["TabelaPrecos"] as List<TabelaPrecoModel>);
    }

    List<FormaPagamentoModel> todasFormasPagamento = new List<FormaPagamentoModel>();
    if (ViewData["FormaPagamento"] != null)
    {
        todasFormasPagamento.AddRange(ViewData["FormaPagamento"] as List<FormaPagamentoModel>);
    }

    if (Model != null)
    {
        checkedAtivo = (Model.STATUS == "ENTREGUE") ? "checked" : string.Empty;

        if (Model.MOVIMENTO_PROCEDIMENTO.Any())
        {
            foreach (var item in Model.MOVIMENTO_PROCEDIMENTO)
            {
                valorTotalDaASO += (item.TOTAL.HasValue ? item.TOTAL.Value : 0);
            }
        }
        ASONovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento do ASO
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro do ASO
        </small>
    </h1>
</div><!-- /.page-header -->
<div id="usuarioAlerts"></div>
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">

            </div><!-- /.well -->
            <div class="row">
                <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
            </div>

            <div class="space"></div>
            <form method="post" autocomplete="off" id="formPrincipalASO" class="form-horizontal" action="@Url.Content("~/ASO/DetalhamentoASO")" enctype="multipart/form-data">
                <input type="hidden" id="codigoASO" name="codigoASO" value="@Html.ValueFor(x => x.IDMOV)" />
                <input type="hidden" id="usuario" name="usuario" value="@Html.ValueFor(x => x.USUARIO)" />
                <input type="hidden" id="caixaPendente" name="caixaPendente" value="@Html.ValueFor(x => x.CAIXAPENDENTE)" />
                <input type="hidden" id="fechamentoCaixa" name="fechamentoCaixa" value="@Html.ValueFor(x => x.IDFCX)" />
                <input type="hidden" id="faturamento" name="faturamento" value="@Html.ValueFor(x => x.IDFAT)" />
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-16">
                        <li class="active">
                            <a data-toggle="tab" href="#edit-basic">
                                <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                Cadastro
                            </a>
                        </li>
                        @if (Model != null && Model.IDMOV > 0)
                        {
                            <li>
                                <a data-toggle="tab" href="#edit-settings">
                                    <i class="purple ace-icon fa fa-navicon bigger-125"></i>
                                    Procedimentos
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#edit-files">
                                    <i class="orange ace-icon fa fa-file-text-o bigger-125"></i>
                                    Arquivos
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active fade">
                        @if (Model != null && Model.IDMOV > 0)
                        {
                        <div class="action-buttons bigger-150">
                            <a href="javascript:imprimirASO(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Imprimir (C/ Médico Coord)">
                                <i class="ace-icon purple fa fa-file-text-o"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:imprimirASOSemMedCoord(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Imprimir (S/ Médico Coord)">
                                <i class="ace-icon purple fa fa-file-o"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:GerarRecibo(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Gerar recibo">
                                <i class="ace-icon orange fa fa-file-excel-o"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:GerarFichaClinica(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Ficha Clínica">
                                <i class="ace-icon green fa fa-clipboard"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:GerarListaDeProcedimentos(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Lista de procedimentos">
                                <i class="ace-icon blue fa fa-list"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:GerarOrdemDeServico(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Ordem de Serviço">
                                <i class="ace-icon blue fa fa-calculator "></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:ConfirmarASO(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Confirmar exames deste ASO">
                                <i class="ace-icon green fa fa-check"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:MultiplasImpressoes(@Html.ValueFor(x => x.IDMOV));" class="tooltipASO" title="Confirmar exames deste ASO">
                                <i class="ace-icon red fa fa-print"></i>
                            </a>
                        </div>
                        }



                        <h4 class="header blue bolder smaller">Dados do ASO</h4>

                        <div class="vspace-12-sm"></div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Referente a &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <select class="chosen-select form-control" id="referente" name="referente" data-placeholder="Selecione um...">
                                    @foreach (var item in todosReferentes)
                                    {
                                        <option value="@item.IdReferencia">@item.NomeReferencia</option>
                                    }
                                </select>

                                <script type="text/javascript">
                                        $('#referente').val('@Html.ValueFor(x => x.IDREF)');
                                </script>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <div class="input-medium">
                                    <div class="input-group">
                                        <input class="input-medium date-picker input-mask-date" id="data" name="data" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="@(Model == null ? DateTime.Now.ToShortDateString() : Model.DATA.ToShortDateString()))" />
                                        <span class="input-group-addon">
                                            <i class="ace-icon fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cliente &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <input type="hidden" name="idCliente" id="idCliente" value="@Html.ValueFor(x => x.IDCLI)" />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-search"></i>
                                    </span>
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cliente" name="cliente" placeholder="Digite o nome do cliente" value="@Html.ValueFor(x => x.CLIENTE.RAZAOSOCIAL)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Tabela &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <select class="chosen-select form-control" id="tabela" name="tabela" data-placeholder="Selecione um...">
                                    @foreach (var item in todasTabelas)
                                    {
                                        <option value="@item.IdTabela">@item.NomeTabela</option>
                                    }
                                </select>
                                <script type="text/javascript">
                                        $('#tabela').val('@Html.ValueFor(x => x.TABELA.IDTAB)');
                                </script>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Funcionário &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <input type="hidden" name="idFuncionario" id="idFuncionario" value="@Html.ValueFor(x => x.IDFUN)" />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-search"></i>
                                    </span>
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="funcionario" name="funcionario" placeholder="Digite o nome do Funcionário" value="@Html.ValueFor(x => x.FUNCIONARIO.FUNCIONARIO1)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Cargo &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <input type="hidden" name="idCargo" id="idCargo" value="@Html.ValueFor(x => x.CARGO.IDCGO)" />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-search"></i>
                                    </span>
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="cargo" name="cargo" placeholder="Digite o cargo do funcionário" value="@Html.ValueFor(x => x.CARGO.CARGO1)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Setor &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <input type="hidden" name="idSetor" id="idSetor" value="@Html.ValueFor(x => x.IDSETOR)" />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-search"></i>
                                    </span>
                                    <input class="col-xs-12 col-sm-6 componenteFormulario" type="text" id="setor" name="setor" placeholder="Digite o setor" value="@Html.ValueFor(x => x.SETOR.SETOR1)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Forma de pagamento &nbsp;<span class="badge badge-important mail-tag"></span></label>

                            <div class="col-sm-8">
                                <select class="chosen-select form-control" id="formaPagamento" name="formaPagamento" data-placeholder="Selecione um...">
                                    @foreach (var item in todasFormasPagamento)
                                    {
                                        <option value="@item.IdFormaPagamento">@item.NomeFormaPagamento</option>
                                    }
                                </select>
                            </div>
                            <script type="text/javascript">
                                                    $('#formaPagamento').val('@Html.ValueFor(x => x.IDFORPAG)');
                            </script>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Entregue</label>

                            <div class="col-sm-8 ">
                                <div class="checkbox">
                                    <label>
                                        <input name="entregue" type="checkbox" class="ace" @checkedAtivo />
                                        <span class="lbl"> &nbsp;</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-first">Observação</label>

                            <div class="col-sm-12">
                                <textarea class="col-sm-12 componenteFormulario" id="observacoes" name="observacoes" placeholder="observações adicionais">@Html.ValueFor(x => x.OBSERVACAO)</textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 pricing-box">
                                <div class="widget-box widget-color-dark">
                                    <div class="widget-header">
                                        <h5 class="widget-title bigger lighter">Mais informações deste ASO</h5>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <ul class="list-unstyled spaced2">
                                                <li>
                                                    Total desta ASO: <b>R$ @valorTotalDaASO</b>
                                                </li>

                                                <li>
                                                    Código de fechamento do caixa: <b>@Html.ValueFor(x => x.IDFCX)</b>
                                                </li>

                                                <li>
                                                    Data do faturamento: <b>@Html.ValueFor(x => x.FATURAMENTO.DATA)</b>
                                                </li>

                                                <li>
                                                    Usuário: <b>@Html.ValueFor(x => x.USUARIO)</b>
                                                </li>
                                            </ul>

                                            <hr />
                                            <div class="price">
                                                <small>Situação do caixa:</small>
                                                @if (Model != null && (Model.CAIXAPENDENTE.HasValue ? Model.CAIXAPENDENTE.Value : true))
                                                {
                                                    <span class="label label-danger">Pendente</span>
                                                }
                                                else if (Model != null && !(Model.CAIXAPENDENTE.HasValue ? Model.CAIXAPENDENTE.Value : true))
                                                {
                                                    <span class="label label-success">Fechado</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-primary">Indefinido</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--essa div -->
                    <div id="edit-settings" class="tab-pane fade">
                        <div class="space-10"></div>
                        <a href="javascript:detalhamentoDoProcedimento(0)" class="btn btn-xs">+ Novo procedimento</a>
                        @if (Model != null && Model.MOVIMENTO_PROCEDIMENTO != null && Model.MOVIMENTO_PROCEDIMENTO.Any())
                        {
                            string nomeProfissional = string.Empty;
                            string nomeProcedimento = string.Empty;
                            foreach (var item in Model.MOVIMENTO_PROCEDIMENTO)
                            {
                                if (item.PROFISSIONAIS != null)
                                {
                                    nomeProfissional = item.PROFISSIONAIS.PROFISSIONAL;
                                }
                                else
                                {
                                    nomeProfissional = string.Empty;
                                }

                                if (item.PROCEDIMENTO != null)
                                {
                                    nomeProcedimento = item.PROCEDIMENTO.PROCEDIMENTO1;
                                }
                                else
                                {
                                    nomeProcedimento = string.Empty;
                                }
                                <div class="row">
                                    <div class="col-xs-12" id="@item.IDPRF">
                                        <div class="media search-media">
                                            <div class="media-body">
                                                <div class="container">
                                                    <h4 class="media-heading">
                                                        <span class="blue">@nomeProcedimento </span>
                                                    </h4>
                                                </div>
                                                <p><b>Profissional:</b> @nomeProfissional <br /> <b>Valor:</b>R$ @item.TOTAL</p>

                                                <div class="search-actions text-center">
                                                    <span class="blue bolder bigger-110">Ações</span>

                                                    <div class="action-buttons bigger-150">
                                                        <a class="tooltipASO" title="Confirmar Exame" href="javascript:confirmarExame(@item.IDMOVPRO);">
                                                            <i class="green ace-icon fa fa-check"></i>
                                                        </a>

                                                            <a class="tooltipASO" title="Excluir" href="javascript:excluirProcedimento(@item.IDMOVPRO);">
                                                                <i class="ace-icon fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <a href="javascript:detalhamentoDoProcedimento(@item.IDMOVPRO);" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhum procedimento para ser exibido.
                                </div>
                            }
                        </div>
                    </div>
                    <div id="edit-files" class="tab-pane fade">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input multiple="" name="arquivo" type="file" id="arquivo" />
                            </div>
                        </div>

                        <div class="progress pos-rel hide" id="progressBarFile" data-percent="0%">
                            <div class="progress-bar" id="InnerProgressBarFile" style="width:0%;"></div>
                        </div>
                        <a class="btn btn-info" href="javascript:enviarArquivo()">
                            <i class="ace-icon fa fa-cloud-upload bigger-110"></i>
                            Enviar arquivo
                        </a>

                        <h4 class="header blue bolder smaller">Arquivos</h4>

                        <div class="vspace-12-sm"></div>

                        @if (Model != null && Model.MOVIMENTO_ARQUIVOS != null && Model.MOVIMENTO_ARQUIVOS.Any())
                        {
                            foreach (var item in Model.MOVIMENTO_ARQUIVOS)
                            {
                                <div class="row">
                                    <div class="col-xs-12" id="@item.IDARQUIVO">
                                        <div class="media search-media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" data-src="holder.js/72x72" alt="72x72" src="/assets/images/avatars/document-download-flat.png" data-holder-rendered="true" style="width: 72px; height: 72px;">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="container">
                                                    <h4 class="media-heading">
                                                        <span class="blue">@item.NOMEARQUIVO </span>
                                                    </h4>
                                                </div>
                                                <p><b>Data de envio:</b><br /> @item.DATAENVIO.ToShortDateString()</p>

                                                <div class="search-actions text-center">
                                                    <span class="blue bolder bigger-110">Ações</span>

                                                    <div class="action-buttons bigger-150">
                                                        <a href="javascript:excluirArquivoMovimento(@item.IDARQUIVO);">
                                                            <i class="ace-icon fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <a href="javascript:baixarArquivoMovimento(@item.IDARQUIVO)" class="search-btn-action btn btn-sm btn-block btn-info"><i class="ace-icon fa fa-arrow-down"></i>Baixar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-block alert-info">
                                Nenhum arquivo para ser exibido.
                            </div>
                        }

                    </div>

                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Salvar
                        </button>
                        @if (ASONovo)
                        {
                            <span>&nbsp; &nbsp;</span>
                            <button class="btn" type="reset" id="limparForm">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Limpar
                            </button>
                        }
                    </div>
                </div>
            </form>
        </div><!-- /.span -->
    </div>
</div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir procedimento</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este procedimento?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmArquivo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir Arquivo</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este arquivo?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteArquivo">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="detalhamentoProcedimento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Procedimento</h3>
            </div>
            <form method="post" autocomplete="off" id="formProcedimentoASO" class="form-horizontal" action="@Url.Content("~/ASO/SalvarProcedimentoMovimento")">
                <div class="modal-body">
                    <input type="hidden" id="codigoProcedimento" name="codigoProcedimento" value="0" />
                    <input type="hidden" id="codigoASOProcedimento" name="codigoASOProcedimento" value="@Html.ValueFor(x => x.IDMOV)" />
                    <input type="hidden" id="codigoFaturamento" name="codigoFaturamento" value="" />
                    <input type="hidden" id="codigoFechamentoCaixa" name="codigoFechamentoCaixa" value="" />
                    <input type="hidden" id="usuarioProcedimentoRealizado" name="usuarioProcedimentoRealizado" value="" />
                    <input type="hidden" id="dataRealizado" name="dataRealizado" value="" />

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Fornecedor &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input type="hidden" name="idFornecedor" id="idFornecedor" value="" />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                <input class="col-xs-12 col-sm-6" type="text" id="fonecedor" name="fornecedor" placeholder="Digite o nome do fornecedor" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Procedimento &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input type="hidden" name="idProcedimento" id="idProcedimento" value="" />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                <input class="col-xs-12 col-sm-6" type="text" id="procedimento" name="procedimento" placeholder="Digite o procedimento" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Profissional </label>

                        <div class="col-sm-8">
                            <input type="hidden" name="idProfissional" id="idProfissional" value="" />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                <input class="col-xs-12 col-sm-6" type="text" id="profissional" name="profissional" placeholder="Digite o nome do profissional" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data do exame &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <div class="input-medium">
                                <div class="input-group">
                                    <input class="input-medium date-picker input-mask-date" id="dataExame" name="dataExame" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-date">Data do próximo exame </label>

                        <div class="col-sm-8">
                            <div class="input-medium">
                                <div class="input-group">
                                    <input class="input-medium date-picker input-mask-date" id="dataProxExame" name="dataProxExame" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" value="" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Usuario </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-8" readonly type="text" id="usuarioProcedimento" name="usuarioProcedimento" placeholder="Usuário" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right" for="form-field-first">Observação</label>

                        <div class="col-sm-12">
                            <textarea class="col-sm-12" id="observacoesProcedimento" name="observacoesProcedimento" placeholder="observações adicionais"></textarea>
                        </div>
                    </div>

                    <h4 class="header blue bolder smaller">Valor</h4>
                    <div class="vspace-12-sm"></div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Valor </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" readonly type="text" id="valor" name="valor" placeholder="Valor" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Desconto </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" type="text" id="desconto" name="desconto" placeholder="Desconto" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Total </label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    R$
                                </span>
                                <input class="col-xs-12 col-sm-5" readonly type="text" id="total" name="total" placeholder="Total" value="" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="salvarContato" onclick="submitProcedimento();">
                        <i class="ace-icon fa fa-check"></i>
                        Salvar
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--modal do botão novo.-->
<div id="MultiplasImpressoes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Procedimento</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <input type="checkbox" id="AsoNormal" />
                    <select id="SelectAsoNormal">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    ASO com médico coordenador
                </ul>
                <ul>
                    <input type="checkbox" id="AsoSemMedico">
                    <select id="SelectAsoSemMedico">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    ASO sem médico coordenador
                </ul>
                <ul>
                    <input type="checkbox" id="FichaClinica">
                    <select id="SelectFichaClinica">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    Ficha Clínica
                </ul>
                <ul>
                    <input type="checkbox" id="Audiometria">
                    <select id="SelectAudiometria">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    Audiometria
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Imprimir" onclick="Imprimir($('#codigoASO').val());">
                    <i class="ace-icon fa fa-check"></i>
                    imprimir
                </button>
            </div>

        </div>
    </div>
</div>




<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/assets/js/chosen.jquery.min.js"></script>


<script type="text/javascript">
    function submitProcedimento() {

        //$('form#formProcedimentoASO').submit();
        $.post('@Url.Content("~/ASO/SalvarProcedimentoMovimento")', $('form#formProcedimentoASO').serialize(), function () {
            $('#detalhamentoProcedimento').modal('toggle');
            $('#procediementosupdate').load("/ASO/DetalhamentoASO?codigoASO=" + @(Model?.IDMOV) + ' #procediementosupdate');
            limparComponentesProcedimentoMovimento();
        });

    }

    $(".tooltipASO").tooltip({
        show: null,
        position: {
            my: "left top",
            at: "left bottom"
        },
        open: function (event, ui) {
            ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
        }
    });

    function excluirProcedimento(codigo) {
        confirmDeleteModal(codigo);
    }

    /*esse cara abre a modal*/
    function MultiplasImpressoes(codigo) {
        $('#MultiplasImpressoes').modal({
            backdrop: 'static',
            keyboard: false
        })
    }
    
    function confirmDeleteModal(codigo) {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function () {
                deletarContato(codigo);
            });
    }

    function deletarContato(codigo) {
        $.ajax({
            url: '/ASO/ExcluirProcedimento?codigoProcedimento=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                    $("#" + codigo).remove();
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }

    function ConfirmarASO(codigo) {
        $.ajax({
            url: '/ASO/ConfirmarASO?codigoDoMovimento=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }
    function confirmarExame(codigo) {
        $.ajax({
            url: '/ASO/ConfirmarExame?codigoDoProcedimentoMovimento=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }


    $('.date-picker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
    });
    $('.input-mask-date').mask('99/99/9999');


    $("#limparForm").click(function () {
        var cntreq3 = 0;
        var cntvals3 = 0;
        $(".componenteFormulario").each(atualizarProgressBar());
    });


    $("#cliente").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Cliente/BuscaClienteAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $('#idCliente').attr('value', ui.item.Id);
            $('#cliente').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#cliente').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idCliente').attr('value', 0);  // clear the textbox
        }
    });

    $("#funcionario").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Funcionario/BuscaFuncionarioDeClienteAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, IdCliente: $('#idCliente').attr('value') },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))

                }
            })
        },
        select: function (event, ui) {
            $('#idFuncionario').attr('value', ui.item.Id);
            $('#funcionario').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#funcionario').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idFuncionario').attr('value', 0);  // clear the textbox
        }
    });

    $("#cargo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Cargo/BuscaCargoAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))

                }
            })
        },
        select: function (event, ui) {
            $('#idCargo').attr('value', ui.item.Id);
            $('#cargo').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#cargo').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idCargo').attr('value', 0);  // clear the textbox
        }
    });

    $("#fonecedor").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Fornecedor/BuscaFornecedorAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))

                }
            })
        },
        select: function (event, ui) {
            $('#idFornecedor').attr('value', ui.item.Id);
            $('#fonecedor').val(ui.item.label);
            return false;
        }
    });
    $('#fonecedor').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idFornecedor').attr('value', 0);  // clear the textbox
        }
    });


    $("#procedimento").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Procedimento/BuscarProcedimentoByFornecedorAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Fornecedor: $('#idFornecedor').attr('value'), Tabela: $('#tabela').val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id, Value: item.Value };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $('#idProcedimento').attr('value', ui.item.Id);
            $('#procedimento').val(ui.item.label);
            $('#valor').val(ui.item.Value);
            recalcularTotal();
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#procedimento').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idProcedimento').attr('value', 0);  // clear the textbox
            $('#valor').val('');
            $('#desconto').val('');
            recalcularTotal();
        }
    });

    $("#profissional").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Profissional/BuscarProfissionalAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))

                }
            })
        },
        select: function (event, ui) {
            $('#idProfissional').attr('value', ui.item.Id);
            $('#profissional').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#profissional').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idProfissional').attr('value', 0);  // clear the textbox
        }
    });

    $("#setor").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Setor/BuscaSetorAJAX",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, Id: item.Id };
                    }))

                }
            })
        },
        select: function (event, ui) {
            $('#idSetor').attr('value', ui.item.Id);
            $('#setor').val(ui.item.label);
            return false;
        },
        messages: {
            noResults: "Sem resultados", results: ""
        }
    });
    $('#setor').on('blur', function () {
        if ($(this).val().length === 0) {  //check for no. of characters entered
            $('#idSetor').attr('value', 0);  // clear the textbox
        }
    });


    if (!ace.vars['touch']) {
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize

        $(window)
            .off('resize.chosen')
            .on('resize.chosen', function () {
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            }).trigger('resize.chosen');
        //resize chosen on sidebar collapse/expand
        $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
            if (event_name != 'sidebar_collapsed') return;
            $('.chosen-select').each(function () {
                var $this = $(this);
                $this.next().css({ 'width': $this.parent().width() });
            })
        });


        $('#chosen-multiple-style .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    }


    function detalhamentoDoProcedimento(codigo) {
        $('#detalhamentoProcedimento').modal({
            backdrop: 'static',
            keyboard: false
        })

        limparComponentesProcedimentoMovimento();
        if (codigo > 0) {
            $.ajax({
                url: '/ASO/DetalharProcedimentoMovimento?codigoDoProcedimentoMovimento=' + codigo,
                type: "post",
                cache: false,
                success: function (data) {
                    $("#codigoProcedimento").attr('value', data.IdMovimentoProcedimento);
                    $("#valor").val(data.Valor);
                    $("#desconto").val(data.Desconto);
                    $("#total").val(data.Total);
                    $("#usuarioProcedimento").attr('value', data.Usuario);
                    $("#usuarioProcedimentoRealizado").attr('value', data.UsuarioRealizado);
                    $("#observacoesProcedimento").val(data.observacao);
                    $("#dataRealizado").attr('value', toDateFromJson(data.DataRealizado));
                    $("#codigoFechamentoCaixa").attr('value', data.IdFechamentoCaixa);
                    $("#codigoFaturamento").val(data.Faturamento != null ? data.Faturamento.IdFaturamento : '');
                    $("#dataExame").attr('value', toDateFromJson(data.DataExame));
                    $("#idFornecedor").attr('value', data.Fornecedor != null ? data.Fornecedor.IdFornecedor : '');
                    $("#fonecedor").attr('value', data.Fornecedor != null ? data.Fornecedor.NomeFantasia : '');
                    $("#idProfissional").attr('value', data.Profissional != null ? data.Profissional.IdProfissional : '');
                    $("#profissional").attr('value', data.Profissional != null ? data.Profissional.NomeProfissional : '');
                    $("#idProcedimento").attr('value', data.Procedimento != null ? data.Procedimento.IdProcedimento : '');
                    $("#procedimento").attr('value', data.Procedimento != null ? data.Procedimento.Nome : '');
                    $("#dataProxExame").val(toDateFromJson(data.DataProxExame));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível detalhar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                }
            });
        }
    }

    function toDateFromJson(src) {
        if (src != null)
            return formatDate(new Date(parseInt(src.substr(6))));
        else
            return '';
    }

    function formatDate(date) {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        return day + '/' + ("0" + (monthIndex + 1)).slice(-2) + '/' + year;
    }

    function limparComponentesProcedimentoMovimento() {
        $("#codigoProcedimento").attr('value', '');
        $("#codigoFaturamento").attr('value', '');
        $("#codigoFechamentoCaixa").attr('value', '');
        $("#usuarioProcedimentoRealizado").attr('value', '');
        $("#dataRealizado").attr('value', '');
        $("#fonecedor").attr('value', '');
        $("#idFornecedor").attr('value', '');
        $("#idProcedimento").attr('value', '');
        $("#procedimento").attr('value', '');
        $("#idProfissional").attr('value', '');
        $("#profissional").attr('value', '');
        $("#dataExame").attr('value', new Date().toLocaleDateString());
        $("#usuarioProcedimento").attr('value', '');
        $("#observacoesProcedimento").val('');
        $("#valor").val('');
        $("#desconto").val('');
        $("#dataProxExame").val('');
        $("#total").val('');
    }

    function recalcularTotal() {
        var valorProcedimento = parseFloat($('#valor').val());
        var valorDesconto = parseFloat($('#desconto').val());

        $('#total').val(parseFloat(Math.round(((valorProcedimento ? valorProcedimento : 0) - (valorDesconto ? valorDesconto : 0)) * 100) / 100).toFixed(2));

        //Garantir 2 casas decimais sempre
        $('#valor').val(parseFloat(Math.round((valorProcedimento ? valorProcedimento : 0) * 100) / 100).toFixed(2));
        $('#desconto').val(parseFloat(Math.round((valorDesconto ? valorDesconto : 0) * 100) / 100).toFixed(2));
    }

    $('#desconto').on('blur', function () {
        recalcularTotal();
    });

    $('#arquivo').ace_file_input({
        style: 'well',
        btn_choose: 'clique para selecionar os  arquivos.',
        btn_change: null,
        no_icon: 'ace-icon fa fa-cloud-upload',
        droppable: false,
        thumbnail: 'small'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
            //Check an example below
            //or examples/file-upload.html
            return true;
        }*/
        /**,before_remove : function() {
            return true;
        }*/
        ,
        preview_error: function (filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function () {
    });

    function enviarArquivo() {
        var formData = new FormData();
        var totalFiles = document.getElementById("arquivo").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("arquivo").files[i];

            formData.append("arquivo", file);
        }

        //if (data) {
        $.ajax({
            url: "/ASO/UploadArquivo?CodigoASO=" + $("#codigoASO").val(),
            type: 'POST',
            data: formData,
            success: function (data) {
                location.reload();
            },
            cache: false,
            contentType: false,
            processData: false,
            xhr: function () {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) { // Avalia se tem suporte a propriedade upload
                    myXhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            var max = e.total;
                            var current = e.loaded;

                            var Percentage = (current * 100) / max;
                            atualizarProgressBarArquivo(Percentage);
                        }
                    }, false);
                }
                return myXhr;
            }
        });
        //}
    }

    function atualizarProgressBarArquivo(count) {
        var cntreq = 0;
        var cntvals = 0;
        $("#progressBarFile").removeClass("hide");
        count = parseInt(count);
        $('#progressBarFile').attr("data-percent", count + '%');
        $('#InnerProgressBarFile').attr("style", "width: " + count + '%');

        if (count == 100) {
            $("#progressBarFile").addClass("hide");
        }
    }

    function baixarArquivoMovimento(codigo) {
        window.location.replace("/ASO/BaixarArquivoASO?codigoArquivo=" + codigo);
    }

    function excluirArquivoMovimento(codigo) {

        $('#confirmArquivo').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#deleteArquivo', function () {
                deletarArquivoMovimento(codigo);
            });
    }

    function deletarArquivoMovimento(codigo) {
        $.ajax({
            url: '/ASO/ExcluirArquivoMovimento?codigoArquivo=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                    $("#" + codigo).remove();
                }
                else
                    tipoAlert = 'alert-danger';
                $('#usuarioAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }

    function imprimirASO(codigo) {
        window.location.replace("/ASO/ImprimirASOComMedCoord?codigoASO=" + codigo);
    }

    function Imprimir(codigo) {
        var AsoNormal;
        var AsoSemMedico;
        var FichaClinica;
        var Audiometria;

        if ($('#AsoNormal').is(':checked')) {
            AsoNormal = $("#SelectAsoNormal").val();
        } else {
            AsoNormal = 0;
        }

        if ($('#AsoSemMedico').is(':checked')) {
            AsoSemMedico = $("#SelectAsoSemMedico").val();
        } else {
            AsoSemMedico = 0;
        }

        if ($('#FichaClinica').is(':checked')) {
            FichaClinica = $("#SelectFichaClinica").val();
        } else {
            FichaClinica = 0;
        }

        if ($('#Audiometria').is(':checked')) {
            Audiometria = $("#SelectAudiometria").val();
        } else {
            Audiometria = 0;
        }

            window.location.replace("/ASO/ImprimirComMultiplas?codigoASO=" + codigo + '&AsoNormal=' + AsoNormal + '&AsoSemMedico=' + AsoSemMedico + '&FichaClinica=' + FichaClinica + '&Audiometria=' + Audiometria);
    }


    function imprimirASOSemMedCoord(codigo) {
        window.location.replace("/ASO/ImprimirASOSemMedCoord?codigoASO=" + codigo);
    }

    function GerarRecibo(codigo) {
        window.location.replace("/ASO/ImprimirReciboASO?codigoASO=" + codigo);
    }

    function GerarListaDeProcedimentos(codigo) {
        window.location.replace("/ASO/ImprimirListaDeProcedimentos?codigoASO=" + codigo);
    }

    function GerarFichaClinica(codigo) {
        window.location.replace("/ASO/ImprimirFichaClinica?codigoASO=" + codigo);
    }

    function GerarOrdemDeServico(codigo) {


        window.location.replace("/ASO/ImprimirOrdemDeServico?codigoASO=" + codigo);
    }
</script>
