@model MediCloud.Models.Parametro.GrupoProcedimento.TabelaPrecoModel
@{
    string checkedInativo = string.Empty;
    bool TabelaDePrecoNovo = true;

    ViewBag.Title = "Tabela de preco";

    if (Model != null)
    {
        TabelaDePrecoNovo = false;
    }
}
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<div class="page-header">
    <h1>
        Detalhamento de tabela de preco
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Cadastro de tabela de preco
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="well well-sm">
                    <!-- -
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    &nbsp; -->
                    <div class="inline middle blue bigger-110"> <span class="formPercent">0%</span> do cadastro concluído </div>

                    &nbsp; &nbsp; &nbsp;
                    <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                        <div class="progress-bar progress-bar-success" style="width:70%"></div>
                    </div>

                </div><!-- /.well -->
                <div class="row">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username"><span class="badge badge-important mail-tag"></span>Obrigatório</label>
                </div>

                <div class="space"></div>
                <form method="post" class="form-horizontal" action="@Url.Content("~/TabelaDePreco/DetalhamentoTabelaDePreco")">
                    <input type="hidden" id="codigoTabelaDePreco" name="codigoTabelaDePreco" value="@Html.ValueFor(x => x.IdTabela)" />
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                    Cadastro
                                </a>
                            </li>
                            @if (Model != null && Model.IdTabela >= 0)
                            {
                                <li>
                                    <a data-toggle="tab" href="#edit-prices">
                                        <i class="blue ace-icon fa fa-usd bigger-125"></i>
                                        Preços
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in fade active">
                            <h4 class="header blue bolder smaller">Dados da tabela de preço</h4>

                            <div class="vspace-12-sm"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">ID</label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="idTabela" readonly name="idTabela" placeholder="ID da tabela" value="@Html.ValueFor(x => x.IdTabela)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nome da tabela &nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-8 componenteFormulario" type="text" id="nomeTabela" name="nomeTabela" placeholder="Nome da tabela" value="@Html.ValueFor(x => x.NomeTabela)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Tipo de pagamento&nbsp;<span class="badge badge-important mail-tag"></span></label>

                                <div class="col-sm-8">
                                    <select class="chosen-select form-control" id="tipoPagamento" name="tipoPagamento" data-placeholder="Selecione um...">
                                        <option value="0">.:Selecione:.</option>
                                        <option value="1">À Vista</option>
                                        <option value="2">À Prazo</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#tipoPagamento').val('@(Model != null ? (int)Model.TipoPagamento : 0)');
                                    </script>

                                </div>
                            </div>



                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Salvar
                                    </button>
                                    @if (TabelaDePrecoNovo)
                                    {
                                    <span>&nbsp; &nbsp;</span>
                                    <button class="btn" type="reset" id="limparForm">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Limpar
                                    </button>
                                    }
                                    else
                                    {
                                    <span>&nbsp; &nbsp;</span>
                                    <a href="javascript:excluirTabelaDePreco(@Model.IdTabela)" class="btn btn-danger" type="reset">
                                        <i class="ace-icon fa fa-times bigger-110"></i>
                                        Excluir
                                    </a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="edit-prices" class="tab-pane in fade">
                            <div class="space-10"></div>
                            <a href="javascript:detalhamentoTabelaValor(0)" class="btn btn-xs">+ Novo item</a>
                            @if (Model != null && Model.ValorTabelaPreco != null && Model.ValorTabelaPreco.Any())
                            {
                                foreach (MediCloud.Models.Parametro.GrupoProcedimento.ValorTabelaDePrecoModel item in Model.ValorTabelaPreco)
                                {
                                    <div class="row">
                                        <div class="col-xs-12" id="@(item.GetId())">
                                            <div class="media search-media">
                                                <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <span class="blue">@item.Fornecedor.RazaoSocial </span>
                                                        </h4>
                                                    <p><b>Procedimento:</b> @item.Procedimento.Nome <br /> <b>Valor:</b> R$@item.Valor</p>

                                                    <div class="search-actions text-center">
                                                        <span class="blue bolder bigger-110">Ações</span>

                                                        <div class="action-buttons bigger-150">
                                                            <a href="javascript:excluirTabelaValor(@item.GetId());">
                                                                <i class="ace-icon fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                        <a href="javascript:detalhamentoTabelaValor(@item.GetId())" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-block alert-info">
                                    Nenhum contato para ser exibido.
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div><!-- /.span -->
        </div>
    </div>
</div>

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir tabela de preço</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este tabela de preço?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<div id="detalhamentoValorTabela" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Contato de cliente</h3>
            </div>
            <form method="post" id="formContatoCliente" class="form-horizontal" action="@Url.Content("~/Cliente/SalvarContato")">
                <div class="modal-body">
                    <input type="hidden" id="codigoContato" name="codigoValorTabela" value="0" />
                    <input type="hidden" id="codigoClienteContato" name="codigoTabela" value="@Html.ValueFor(x => x.IdTabela)" />

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Nome &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="nomeContato" name="nomeContato" placeholder="nome do contato" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Função &nbsp;<span class="badge badge-important mail-tag"></span></label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="funcao" name="funcao" placeholder="Função do contato" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">E-mail </label>

                        <div class="col-sm-8">
                            <input class="col-xs-12 col-sm-6 " type="text" id="email" name="email" placeholder="Endereço de email" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="salvarContato">
                        <i class="ace-icon fa fa-check"></i>
                        Salvar
                    </button>
                    <button type="button" data-dismiss="modal" class="btn">
                        <i class="ace-icon fa fa-times"></i>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script type="text/javascript">
    function excluirTabelaDePreco(codigo) {
        confirmDeleteModal(codigo);
    }

    function confirmDeleteModal(codigo) {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function () {
                window.location = "/TabelaDePreco/ExcluirTabelaDePreco?codigoTabelaDePreco=" + codigo;
            });
    }

    $("#limparForm").click(function () {
        var cntreq3 = 0;
        var cntvals3 = 0;
        $(".componenteFormulario").each(atualizarProgressBar());
    });

    $(document).ready(function () {
        $('input').on('change', function () {
            var cntreq = 0;
            var cntvals = 0;
            $(".componenteFormulario").each(atualizarProgressBar());
        });

        var cntreq3 = 0;
        var cntvals3 = 0;
        $(".componenteFormulario").each(atualizarProgressBar());

    });

    function atualizarProgressBar() {
        var cntreq = 0;
        var cntvals = 0;
        $(".componenteFormulario").each(function (val) {
            cntreq++;
            if ($(this).val() != '') {
                cntvals++;
            }
        });
        var count = (cntvals / cntreq) * 100;
        count = parseInt(count);
        $('.formPercent').empty();
        $('.progress-striped').attr("data-percent", count + '%');
        $('div.progress-bar-success').attr("style", "width: " + count + '%');
        $('.formPercent').append(count + '% ');
    }

    function detalhamentoTabelaValor(codigo) {
        $('#detalhamentoValorTabela').modal({
            backdrop: 'static',
            keyboard: false
        })

        limparComponentesValorTabela();
        if (codigo > 0) {
            $.ajax({
                url: '/TabelaPreco/DetalharValorTabela?codigoDoValorTabela=' + codigo,
                type: "post",
                cache: false,
                success: function (data) {
                    $("#nomeEmpresa").attr('value', data.NomeEmpresa);
                    $("#codigoEmpresa").attr('value', data.IdEmpresa);
                    $("#telFixoEmpresa").attr('value', data.Telefone);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#usuarioAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível detalhar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
                }
            });
        }

        function limparComponentesValorTabela() {
            $("#nomeEmpresa").attr('value', "");
            $("#codigoEmpresa").attr('value', 0);
            $("#telFixoEmpresa").attr('value', "");
        }
    }

</script>
