@using System.Linq

@model List<MediCloud.Models.Laudo.LaudoRXModel>
@{
    ViewBag.Title = "Raio-X";
}
<div class="page-header">
    <h1>
        Raio-X
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Busca de laudos de raio-X
        </small>
    </h1>
</div>
<div id="RaioXAlerts"></div>
<form method="post" autocomplete="off" action="@Url.Content("~/RaioX")">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" name="keywords" placeholder="Digite aqui para buscar">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default no-border btn-sm">
                        <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    </button>
                </div>
            </div>
            <a href="/RaioX/DetalhamentoRaioX" class="btn btn-xs">+ Novo laudo</a>
        </div>
    </div>
</form>
<div class="hr"></div>
@if (Model != null && Model.Any())
{
    foreach (MediCloud.Models.Laudo.LaudoRXModel item in Model)
    {
        <div class="col-xs-12" id="@item.ProcedimentoMovimento.IdMovimentoProcedimento">
            <div class="media search-media">
                <div class="media-body">
                    <div class="container">
                        <h4 class="media-heading">
                            <span class="blue">@item.Medico - @item.Paciente </span>
                            <span id="statusLaudo">
                                @if (item.Status == MediCloud.Code.Enum.EnumLaudo.StatusLiberadoLaudo.pendente)
                                {
                                    <span class="label label-danger" id="spanStatusLaudo">Pendente</span>
                                }
                            </span>
                        </h4>
                    </div>
                    <p><b>Data:</b> @item.Data.ToShortDateString() <br /> <b>Procedimento:</b> @(item.ProcedimentoMovimento.Procedimento?.Nome)</p>

                    <div class="search-actions text-center">
                        <span class="blue bolder bigger-110">Ações</span>

                        <div class="action-buttons bigger-150">
                            <a href="javascript:excluirRaioX(@item.ProcedimentoMovimento.IdMovimentoProcedimento);">
                                <i class="ace-icon fa fa-trash"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="javascript:liberarLaudo(@item.ProcedimentoMovimento.IdMovimentoProcedimento);">
                                <i class="ace-icon fa fa-check green"></i>
                            </a>
                        </div>
                        <a href="/RaioX/DetalhamentoRaioX?codigoRaioX=@item.ProcedimentoMovimento.IdMovimentoProcedimento" class="search-btn-action btn btn-sm btn-block btn-info">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-block alert-info">
        Nenhum resultado para ser exibido.
    </div>
}

<div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Excluir laudo</h3>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este laudo?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">
                    <i class="ace-icon fa fa-check"></i>
                    Sim
                </button>
                <button type="button" data-dismiss="modal" class="btn">
                    <i class="ace-icon fa fa-times"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function excluirRaioX(codigo) {
        confirmDeleteModal(codigo);
    }

    function confirmDeleteModal(codigo) {
        $('#confirm').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#delete', function () {
                deletarRaioX(codigo);
            });
    }

    function deletarRaioX(codigo) {
        $.ajax({
            url: '/RaioX/DeletarRaioX?codigoRaioX=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success';
                    $("#" + codigo).remove();
                }
                else
                    tipoAlert = 'alert-danger';

                $('#RaioXAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#RaioXAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }

    function liberarLaudo(codigo) {
        $.ajax({
            url: '/RaioX/LiberarRaioX?codigoRaioX=' + codigo,
            type: "post",
            cache: false,
            success: function (savingStatus) {
                var tipoAlert;
                if (savingStatus.acaoBemSucedida) {
                    tipoAlert = 'alert-success'; 
                }
                else
                    tipoAlert = 'alert-danger';

                $('#RaioXAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#RaioXAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não foi possível deletar este registro no servidor. Contate-nos para que possamos te ajudar melhor.</span></div>')
            }
        });
    }
</script>
